.add-service-modal {
  background: #ffffff;
  flex-direction: column;
  border-radius: 3px;
  padding: 18px 20px 30px;
  box-shadow: 0 4px 25px 0 rgba(6, 74, 177, 0.15);
  width: 490px;
  @media (max-width: 540px) {
    width: 90vw;
  }


  .input-column-wrapper {
    margin: 0;
  }

  h2 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
  }

  .modal-close-btn {
    top: 19px;
    right: 20px;
  }

  .add-service-modal-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .calc-cost-row {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    @media (max-width: 550px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    .main-input._disabled {
      background: #F3F3F3;
    }
    .main-btn {
      margin-top: 0;
      display: inline-block;
    }
  }

  .dates-row {
    display: flex;
    gap: 7px;
    align-items: center;

    .icon-input {
      width: 135px;
    }
  }

  .short {
    input {
      width: 135px;
      margin-right: 5px;
    }
  }

  .main-btn {
    margin-top: 10px;
    width: max-content;
    padding: 10px 19px;
  }
}