.auth-panel {
  background: #ffffff;
  border-bottom: 1px solid #c3d5f5;
  position: relative;
  @media (max-width: 1024px) {
    display: none;
  }

  &__logo {
    width: 59px;
    height: 30px;
  }

  &__container {
    z-index: 200;
    position: relative;
    padding: 20px 15px;
    background-color: #ffffff;
  }

  .settings-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: -200%;
    opacity: 0;
    z-index: -10;
    visibility: hidden;
    background: #ffffff;
    gap: 15px;
    width: 100vw;
    min-height: 370px;
    padding: 28px 0;
    transition: all 0.2s linear;
    @media (max-width: 1363px) {
      padding: 0;
    }
    &._active {
      top: calc(100% + 1px);
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }

    .settings-menu__overlay {
      position: absolute;
      left: 0;
      top: 100%;
      right: 0;
      width: 100%;
      height: 999999px;
      background: rgba(#002968, 0.4);
    }

    .main-input-wrapper {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 24px;

      label {
        font-size: 13px;
        @include opensans-semibold;
      }
    }

    &__wrapper {
      max-width: 1920px;
      margin: 0 auto;
      padding: 0 30px 0 15px;
      display: flex;
      justify-content: space-between;
      gap: 50px;
      @media (max-width: 1280px) {
        padding: 0 15px;
      }
      .auto-submit-form {
        @media (max-width: 1363px) {
          padding: 28px 0;
        }
      }
    }

    &__lists {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 80px;
      @media (max-width: 1550px) {
        gap: 40px 50px;
      }
      @media (max-width: 1363px) {
        border-right: 1px solid #C3D5F5;
        padding: 28px 0;
      }
      .special-list {
        display: flex;
        flex-direction: row;
        gap: 60px;
      }
    }

    &__list {
      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &.settings-menu__list-title {
          @include opensans-semibold;
          margin-bottom: 11px;
        }

        a {
          display: flex;
          gap: 10px;
          align-items: center;
          font-size: 15px;
          @include opensans-regular;
          color: #1d1b1b;
        }
      }
    }

    &__info {
      min-width: 260px;
      width: 260px;

      @media (max-width: 1215px) {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -28px;
          left: -25px;
          height: calc(100% + 56px);
          z-index: 0;
          width: 1px;
          background-color: #c3d5f5;
        }
      }

      a {
        color: #064ab1;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    &__info-list {
      margin-bottom: 15px;

      li {
        font-size: 13px;
        color: #8f8f8f;
        line-height: 1;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        a {
          display: inline;
        }

        &.settings-menu__info-list-title {
          font-size: 13px;
          @include opensans-semibold;
          margin-bottom: 11px;
          color: #1d1b1b;
        }

        &:last-child {
          margin-top: 17px;
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    @media (max-width: 1280px) {
      gap: 25px;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1280px) {
      gap: 8px;
    }

    li {
      a,
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 9.5px 21px;
        width: 100%;
        height: 100%;
        @include opensans-medium;
        color: #064ab1;
        @media (max-width: 1280px) {
          padding: 9px 12px;
        }

        &._active {
          border-radius: 5px;
          border: 2px solid #bbd6ff;
        }
      }
    }
  }

  &__notice {
    position: relative;
    cursor: pointer;
    height: 27px;
    width: 26px;

    &:hover {
      svg path {
        fill: #ff6716;
      }
    }

    .auth-panel__notice-counter {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 1;
      width: 18px;
      height: 18px;
      background-color: #ff6716;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 50%;
      @include opensans-bold;
      font-size: 13px;
      right: -6px;
      top: -1px;
    }

    .notice-menu {
      position: absolute;
      cursor: initial;
      display: none;
      box-shadow: 0 4px 25px 0 rgba(6, 74, 177, 0.15);
      background: #ffffff;
      top: 100%;
      left: -115px;
      min-width: 240px;
      min-height: max-content;
      border-radius: 10px;
      padding: 15px 5px 10px 20px;
      @media (max-width: 1280px) {
        left: -155px;
      }
      @media (max-width: 550px) {
        left: 0;
      }

      h4 {
        color: #1d1b1b;
        font-size: 15px;
        @include opensans-semibold;
        margin-bottom: 7px;
      }

      .fix-row {
        align-items: center;
        cursor: pointer;
        gap: 5px;
        @media (max-width: 768px) {
          gap: 0;
          align-items: flex-start;
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &__title {
          color: #ff6716;
          font-size: 15px;
          line-height: 1;
          @include opensans-bold;
          min-width: 15px;
          margin-right: 0;
          @media (max-width: 768px) {
            margin-right: 0;
          }
        }

        &__desc {
          color: #4f4e4e;
          font-size: 15px;
          display: block;
          @include opensans-regular;
        }
      }
    }

    &:hover .notice-menu {
      display: block;
    }
  }

  &__settings {
    width: 25px;
    height: 24px;
    cursor: pointer;

    &:hover {
      svg {
        path {
          fill: #ff6716;
          stroke: #ff6716;
        }
      }
    }
  }

  &__personal {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 35px;
    @media (max-width: 1280px) {
      gap: 20px;
    }
  }

  &__controllers {
    margin-left: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 6px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba(6, 74, 177, 0.15);
  }

  &__controllers-info {
    padding-right: 10px;
    border-right: 2px solid #deebff;

    a {
      font-size: 13px;
      @include opensans-bold;
      color: #064ab1;
      display: block;
      line-height: 1;
    }

    span {
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.mobile-auth-panel {
  display: none;
  background: #ffffff;
  border-bottom: 1px solid #c3d5f5;
  position: relative;
  @media (max-width: 1024px) {
    display: block;
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    background: #ffffff;
    padding: 20px 15px;
    z-index: 200;
    gap: 44px;
  }

  &__logo {
    width: 59px;
    height: 30px;
  }

  &__booking-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 240px;
    padding: 10.5px 18px;
    width: 100%;
    height: 100%;
    @include opensans-medium;
    color: #064ab1;
    border-radius: 5px;
    border: 2px solid #bbd6ff;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__personal {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__notice {
    position: relative;
    cursor: pointer;
    height: 27px;
    width: 26px;

    &._open {
      svg {
        path {
          fill: #ff6716;
        }
      }
    }

    .mobile-auth-panel__notice-counter {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 1;
      width: 18px;
      height: 18px;
      background-color: #ff6716;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 50%;
      @include opensans-bold;
      font-size: 13px;
      right: -6px;
      top: -1px;
    }
  }

  &__settings {
    width: 25px;
    height: 24px;
    cursor: pointer;

    &._open {
      svg {
        path {
          fill: #ff6716;
          stroke: #ff6716;
        }
      }
    }
  }

  &__burger-btn {
    z-index: 25;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 15px 0 rgba(6, 74, 177, 0.15);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span,
    &::before,
    &::after {
      height: 4px;
      width: 27px;
      position: absolute;
      border-radius: 20px;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.15s ease 0s;
      background-color: #064ab1;
    }

    &::before,
    &::after {
      content: "";
    }

    &::before {
      top: 15px;
    }

    &::after {
      bottom: 15px;
    }

    span {
      top: 50%;
      transform: scale(1) translate(-50%, -50%);
    }

    &._open {
      span {
        transform: scale(0) translate(-50%, -50%);
      }

      &::before {
        left: 45%;
        transform: rotate(-45deg) translate(-50%, -50%);
      }

      &::after {
        left: 45%;
        transform: rotate(45deg) translate(-50%, 50%);
      }
    }
  }

  .mobile-auth-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: -200%;
    opacity: 0;
    z-index: -10;
    visibility: hidden;
    background: #ffffff;
    width: 100vw;
    transition: all 0.2s linear;

    &._open {
      top: calc(100% + 1px);
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }

    &__item {
      padding: 23px 15px;

      &:not(:last-child) {
        border-bottom: 1px solid #c3d5f5;
      }

      a {
        font-size: 17px;
        color: #064ab1;
        font-weight: 500;
      }
    }

    &__person {
      p {
        font-size: 17px;

        a {
          font-weight: 700;
          color: #064ab1;
        }
      }

      .main-btn {
        border: 2px solid #bbd6ff;
        border-radius: 5px;
        padding: 9px 20px;
        @media (max-width: 768px) {
          border-radius: 0;
          border: none;
          border-left: 2px solid #deebff;
          padding: 7px 0 5px 15px;
          span {
            display: none;
          }
        }
      }
    }
    &__person-wrapper {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        box-shadow: 0 4px 15px 0 rgba(6, 74, 177, 0.15);
        background: #fff;
        border-radius: 10px;
        padding: 9px 10px;
      }
    }
  }

  .settings-auth-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: -200%;
    opacity: 0;
    z-index: -10;
    visibility: hidden;
    background: #ffffff;
    width: 100vw;
    transition: all 0.2s linear;

    &._open {
      top: calc(100% + 1px);
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }

    &__item {
      padding: 23px 15px;
      border-bottom: 1px solid #c3d5f5;
    }

    .main-accordion {
      .accordion-content {
        background: #e8f1f8;
      }
      .accordion-el {
        &:not(:last-child) {
          border-bottom: 1px solid #c3d5f5;
        }
        &._active {
          .accordion-btn svg {
            transform: rotate(180deg);
          }
          border: none;
        }
      }

      .accordion-btn {
        background: #ffffff;
        display: flex;
        width: 100%;
        height: 100%;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        font-size: 17px;
        color: #064ab1;
        font-weight: 500;
        padding: 26px 30px 26px 15px;
      }
    }

    &__list {
      padding: 23px 15px;
      li {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        a {
          display: flex;
          gap: 13px;
          align-items: center;
          font-size: 17px;
          @include opensans-regular;
          color: #1d1b1b;
        }
      }
    }
  }

  .mobile-notice-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: -200%;
    opacity: 0;
    z-index: -10;
    visibility: hidden;
    background: #ffffff;
    width: 100vw;
    transition: all 0.2s linear;

    &._open {
      top: calc(100% + 1px);
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }

    .fix-row {
      padding: 23px 15px;
      gap: 10px;

      &:not(:last-child) {
        border-bottom: 1px solid #c3d5f5;
      }

      a {
        font-size: 17px;
        color: #064ab1;
        font-weight: 500;
      }

      &__title {
        min-width: 20px;
        margin-right: 0;
        font-weight: 700;
        font-size: 17px;
        color: #ff6716;
        @media (max-width: 768px) {
          margin: 0;
        }
      }
      &__desc {
        color: #064ab1;
        font-size: 17px;
        font-weight: 500;
      }

      @media (max-width: 768px) {
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
