.room-booking-calendar {

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  td._green,
  td._orange,
  td._red,
  td._blue,
  td._yellow,
  td._gray,
  td._purple,
  td._green-lock,
  td._purple-lock,
  td._orange-lock,
  td._red-lock,
  td._blue-lock,
  td._yellow-lock,
  td._gray-lock {
    position: relative;

    svg {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  td._green,
  td._green-lock {
    .booking-track {
      background-color: #9aff8a;
      border: 1px solid #01da32;

      svg path {
        fill: #0e8128;
      }
    }

    h6 {
      background: #0e8128;
    }
  }

  td._purple,
  td._purple-lock {
    .booking-track {
      background-color: #E4C5FF;
      border: 1px solid #C53DFF;

      svg path {
        fill: #7200A3;
      }
    }

    h6 {
      background: #0e8128;
    }
  }

  td._yellow {
    .booking-track {
      background-color: #ffa928;
      border: 1px solid #ffd363;
    }
    h6 {
      background: #920303;
    }
  }

  td._yellow-lock {
    .booking-track {
      background-color: #ffa928;
      border: 1px solid #ffdb80;

      svg path {
        fill: #ff6b00;
      }
    }
  }

  td._orange,
  td._orange-lock {
    .booking-track {
      border: 1px solid #ffa011;
      background-color: #ffd363;

      svg path {
        fill: #d53e07;
      }
    }

    h6 {
      background: #920303;
    }
  }

  td._red,
  td._red-lock {
    .booking-track {
      border: 1px solid #9e1f1f;
      background: #ff9a9a;

      svg path {
        fill: #920303;
      }
    }
  }

  td._blue,
  td._blue-lock {
    .booking-track {
      border: 1px solid #65b9f3;
      background: #adddff;

      svg path {
        fill: #064ab1;
      }
    }
  }

  td._gray,
  td._gray-lock {
    .booking-track {
      border: 1px solid #e40000;
      background: #d9d9d9;

      svg path {
        fill: #1f1e1e;
      }
    }
  }
}

.booking-track {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 35.5px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
  padding: 3px;
  cursor: pointer;
  z-index: 1;

  &._searched {
    border: 2px solid #3045ff !important;
  }

  p {
    font-size: 13px;
    max-width: 170px;
    line-height: 1.02;
    text-align: left;
    text-overflow: ellipsis;
  }

  h6 {
    @include opensans-bold;
    color: #ffffff;
    font-size: 11px;
    line-height: 1;
    text-align: right;
    padding: 3px;
    border-radius: 3px;
    min-width: max-content;
  }

  &__short-info {
    overflow: hidden;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__comment {
    position: fixed;
    top: unset;
    transform: unset;
    bottom: 50px;
    right: 50px;
    background: #ffffff;
    z-index: 100000;
    border-radius: 3px;
    padding: 20px 15px 30px 17px;
    box-shadow: 0 4px 15px 0 rgba(6, 74, 177, 0.25);
    width: 435px;
    display: none;
    pointer-events: none;

    .desc-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      h4 {
        text-align: left;
        font-size: 15px;
        font-weight: 600;
      }

      .descSvg {
        right: 0;
        left: unset;
      }
    }

    .description-list {
      padding: 14px 0 20px 0;
      &__row {
        display: grid;
        grid-template-columns: minmax(150px, 150px) minmax(150px, 150px);
        text-align: left;
        align-items: flex-start;
        gap: 10px;
        & > span {
          text-align: left;
          font-size: 15px;
          font-weight: 300;
        }
        & span:last-child {
          font-weight: 500;
        }
      }
    }

    &._active {
      display: block;
    }

    h5 {
      font-size: 13px;
      @include opensans-semibold;
      margin-bottom: 3px;
      line-height: 1;
      text-align: left;
    }

    p {
      font-size: 13px;
      @include opensans-regular;
      line-height: 1.3;
      text-align: left;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
}
