.room-booking-calendar {
  td._green, td._orange, td._red, td._green-lock, td._orange-lock, td._red-lock  {
    position: relative;

    svg {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  td._green, td._green-lock {
    .booking-track {
      background-color: #9AFF8A;
      border: 1px solid #01DA32;

      svg path {
        fill: #0E8128;
      }
    }

    h6 {
      background: #0E8128;
    }
  }

  td._orange, td._orange-lock {
    .booking-track {
      border: 1px solid #FFA011;
      background-color: #FFD363;

      svg path {
        fill: #D53E07;
      }
    }
    h6 {
      background: #920303;
    }
  }

  td._red, td._red-lock {
    .booking-track {
      border: 1px solid #9E1F1F;
      background: #FF9A9A;

      svg path {
        fill: #920303;
      }
    }
  }
}


.booking-track {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 35.5px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
  padding: 3px;
  cursor: pointer;

  &._searched {
    border: 2px solid #3045FF !important;
  }

  p {
    font-size: 13px;
    max-width: 170px;
    line-height: 1.02;
    text-align: left;
    text-overflow: ellipsis;
  }

  h6 {
    @include opensans-bold;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 1;
    min-width: 38px;
    text-align: right;
    padding: 3px;
    border-radius: 3px;
  }


  &__short-info {
    overflow: hidden;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}
