.booking-document-modal,
.upload-document-modal {
  border-radius: 10px;
  width: 496px;
  box-shadow: 0 4px 25px 0 rgb(6 74 177 / 15%);
  background: #fff;

  @media (max-width: 540px) {
    width: 90vw;
  }

  .short {
    width: 173px;
    input {
      width: 173px;
      margin-right: 5px;
    }
  }

  .input-column-wrapper {
    margin: 0;
  }

  .modal-close-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    right: -60px;
    background:
      url("../img/close.svg") 50% / 20px 20px no-repeat,
      #ff6716;
  }

  .add-document-modal-switch {
    display: flex;
    padding: 25px 0 20px 25px;

    .switch-btn {
      font-size: 15px;
      height: 40px;
      width: 223px;
      background: #fff;
      border: 1px solid #6db4f5;
      border-radius: 5px 0px 0px 5px;

      &:last-child {
        border-radius: 0px 5px 5px 0px;
      }

      &._active {
        background: #064ab1;
        color: #ffffff;
        border: none;
      }
    }
  }

  .add-document-modal-form,
  .upload-document-modal-form {
    display: flex;
    flex-direction: column;
    padding: 0 25px 30px;
    row-gap: 20px;
  }

  .main-btn {
    padding: 10px 15px;
  }

  #file-upload-scan {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 18px;
    max-width: 155px;
  }

  .file-upload {
    height: 35px;

    @media (max-width: 460px) {
      height: max-content;
    }

    .main-btn {
      height: 35px;
    }

    &__name {
      padding-left: 35px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 23px;
        height: 30px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='30' viewBox='0 0 23 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9969 28C22.9969 29.1046 22.1014 30 20.9969 30H2C0.89543 30 0 29.1046 0 28V2C0 0.89543 0.89543 0 2 0H14.5594L22.9969 8.4375V28Z' fill='%233090F6'/%3E%3Cpath d='M23 8.4375H15.5625C15.0102 8.4375 14.5625 7.98979 14.5625 7.4375V0L23 8.4375Z' fill='%234FB6E9'/%3E%3Cpath d='M14.5625 8.4375H23V16.875L14.5625 8.4375Z' fill='%23064AB1'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &__delete-btn {
      top: 14px;
    }

    &._loaded {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 5px;

      .file-upload__info {
        height: 41.5px;

        a {
          max-width: 185px;
          height: 41.5px;
          display: flex;
          align-items: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #064ab1;
        }
      }
    }
  }
}

.booking-document-modal {
  &__header {
    padding: 24px 0 19px 25px;
  }

  &__title {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 22px;
  }

  &__form-wrapper {
    border-block: 1px solid #c3d5f5;
  }

  &__footer {
    padding: 30px 25px;
  }
}
