.link-switcher {
  border: 1px solid #6DB4F5;
  border-radius: 3px;
  width: max-content;
  background: #FFFFFF;

  a {
    display: inline-block;
    @include opensans-medium;
    font-size: 15px;
    color: #000000;
    &:first-child {
      padding: 7px 10px 7px 12px;
    }
    &:nth-child(2) {
      padding: 7px 28px;
    }
  }

  ._active {
    color: #ffffff;
    background: #064AB1;
    border-radius: 3px;
  }
}