.main-btn {
  color: #ffffff;
  text-align: center;
  @include opensans-semibold;
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 5px;
  background: #064AB1;

  svg {
    margin-right: 2px;
    vertical-align: middle;
  }

  &._blue-outlined {
    background: transparent;
    border: 1px solid #064AB1;
    color: #064AB1;
  }
  &._orange-outlined {
    background: transparent;
    border: 1px solid #FF6716;
    color: #FF6716;
  }

  &._red {
    border-color: #920303;
    color: #920303;
  }

  &._green {
    border-color: #00754A;
    color: #00754A;
  }

  &._orange {
    border-color: #D53E07;
    color: #D53E07;
  }

  &._white {
    border: none;
    color: #064AB1;
    padding: 0;
  }
}

a.main-btn {
  line-height: 1.15;
}
