.main-btn {
  @include opensans-semibold;

  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 5px;
  background: #064ab1;

  svg {
    margin-right: 2px;
    vertical-align: middle;
  }

  &._blue-outlined {
    background: transparent;
    border: 1px solid #064ab1;
    color: #064ab1;
  }
  &._orange {
    border: none;
    color: #ffffff;
    background: #ff6716;
  }
  &._orange-outlined {
    background: transparent;
    border: 1px solid #ff6716;
    color: #ff6716;
  }

  &._red {
    border: 1px solid #920303;
    color: #920303;
    background: transparent;
  }

  &._green {
    border: 1px solid #00754a;
    color: #00754a;
    background: transparent;
  }

  &._white {
    border: none;
    color: #064ab1;
    padding: 0;
  }
}

a.main-btn {
  line-height: 1.15;
}
