.main-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #D0D5DF;
  margin: 10px 0;

  @media (max-width: 768px) {
    overflow-x: auto;
  }

  .main-input {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
  }

  &__sort-link {
    font-weight: 300;
    font-size: 15px;
    color: #064AB1;
    margin-right: 15px ;
    border-bottom: 1px dotted #064AB1;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 9px;
      height: 6px;
      right: -13px;
      top: 9px;
      background: url('data:image/svg+xml,<svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 0L4.5 5.4L0 0H9Z" fill="%23064AB1"/></svg>') no-repeat;
    }
  }

  .icon-input input {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 14px 10px;
    background-color: $white;
    transition: all .3s;
    @media (max-width: 768px) {
      min-width: 1000px;
    }

    a:not(.delete-link) {
      color: #064AB1;
    }

    &:nth-child(odd) {
      background-color: #F6F6F6;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #D0D5DF;
    }

    &:not(.main-table__title-row, .main-table__pagination-row):hover {
      cursor: pointer;
      background-color: #FFEDBD;
    }

    &.main-table__title-row {
      .main-table__cell {
        @include opensans-light;
        font-size: 13px;
      }
    }

    &.main-table__pagination-row {
      padding-left: 0;
      justify-content: space-between;
    }

    .elements-count {
      margin-left: auto;
      display: flex;
      align-items: center;
      font-size: 13px;
      width: 232px;

      select {
        margin-left: 8px;
        max-width: 72px;
      }
    }


    form {
      width: 100%;
      display: flex;
      align-items: center;
      button[type="submit"] {
        border: 1px solid #D0D5DF;
        padding: 5px;
        transition: all .3s;
        &:hover {
          background-color: #D0D5DF;
          color: #ffffff;
        }
      }
    }

  }

  &__cell {
    width: 100%;
    flex: 1 1 auto;
    @include opensans-regular;
    font-size: 15px;
    line-height: 18px;
    color: $black;

    &:not(:last-child) {
      padding-right: 10px;
    }

  }


  &._min {
    border: none;
    margin: 0;
    @media (max-width: 1024px) {
      overflow-x: auto;
    }

    .main-table__row {
      background-color: transparent;
      padding: 12px 17px;
      @media (max-width: 1024px) {
        min-width: 1000px;
      }

      &:nth-child(odd) {
        background-color: #F4F8FC;
      }

      &:last-child {
        border-bottom: 1px solid #D0D5DF;
      }
      &:first-child{
        border-bottom: 1px solid #D0D5DF;
        border-top: 1px solid #E7EEFA;
        border-left: 1px solid #E7EEFA;
        border-right: 1px solid #E7EEFA;
      }

      &:hover {
        background: #FFEDBD;
      }

      &.main-table__title-row {
        background-color: #FCFDFE;
      }


      &.main-table__title-row .main-table__cell {
        font-size: 15px;
      }
    }
  }


}
