.priority-price-modal {

  &__title {
    h3 {
      padding: 0 25px;
      @include opensans-bold;
      font-size: 22px;
      color: #1D1B1B;
    }
    padding-bottom: 15px;
    border-bottom: 1px solid #C3D5F5;
  }
  &__inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    &:not(:last-child) {
      margin-bottom: 23px;
    }
    .input-column-wrapper {
      width: 48%;
      margin-right: 0;
      @media (max-width: 768px) {
        width: 100%;
      }

      label {
        font-size: 15px;
        @include opensans-semibold;
        color: #000000;
      }
    }

  }
  &__inner {
    padding: 17px 35px 35px 25px;

  }
  .weekday-list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-top: 33px;
    margin-bottom: 24px;
  }

  &__controllers {
    padding-top: 25px;
    border-top: 1px solid #C3D5F5;

  }
  &__controllers-wrapper {
    padding: 0 35px 10px 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media (max-width: 768px) {
      justify-content: flex-start;
      flex-direction: column;
    }
    .main-btn {
      padding: 11px 20px;
      flex-grow: 1;
    }
  }
}