.room-booking-calendar {
  overflow-x: auto;

  table {
    border-radius: 3px;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
  }

  th, td {
    color: #000;
    @include opensans-regular;
    font-size: 11px;
    border: 1px solid #D0D5DF;
    height: 40px;
    text-align: center;
    padding: 0 13px;

    span {
      display: block;
      line-height: 1.1;
    }


    &:nth-child(7n) {
      background-color: #F1F7FF;
    }

    &:nth-child(7n + 1) {
      background-color: #F1F7FF;
    }


    &:first-child {
      text-align: left;
      font-size: 15px;
      background-color: #fff;
      min-width: 200px;
    }

  }

  .day-cell {
    &._active-day {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 2px;
        height: 10000px;
        opacity: 0.5;
        background-color: #00FF38;
      }

      &::after {
        content: attr(data-pointer);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        opacity: 0.5;
        background-color: #00FF38;
      }
    }

    &._no-current {
      opacity: 0.5;
    }
  }

  .trigger-row {
    td {
      background-color: #F1F7FF;

      &:first-child {
        position: relative;
        padding-right: 30px;
        cursor: pointer;

        svg {
          position: absolute;
          top: 15px;
          right: 15px;

          &._rotate {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .child-row {
    display: none;

    td {
      transition: background-color .3s;
    }

    &:hover td {
      background-color: #FFEDBD;
    }

    &._visible {
      display: table-row;
    }

    svg {
      display: none;
    }
  }


}
