.room-date-controller {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
  @media (max-width: 768px) {
    flex-direction: column;
  }


  .date-mask {
    border-radius: 3px;
    border: 1px solid #D0D5DF;
    background: #F6F6F6;
    max-width: 130px;
    font-size: 13px;
  }


  &__calendar {
    display: flex;
    align-items: center;
  }

  &__search {
    flex-grow: 1;
    position: relative;

    svg {
      position: absolute;
      left: 10px;
      height: 13px;
      width: 13px;
      top: 50%;
      transform: translateY(-50%);
    }

    .main-input {
      padding: 8px 10px 8px 30px;

      &::placeholder {
        color: #91969A
      }
    }
  }

  .booking-search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35.25px;
    color: #ffffff;
    background-color: #064AB1;
    border: transparent;
  }

  &__date-preview {
    @include opensans-semibold;
    font-size: 21px;
    margin-right: 15px;
    text-transform: capitalize;
  }


  &__switcher {
    display: flex;
    align-items: center;
  }

  &__switcher-date {
    margin-left: 15px;
    margin-right: 15px;
    @include opensans-regular;
    font-size: 13px;
    text-align: center;
    padding-bottom: 5px;
    text-transform: capitalize;
    width: 65px;
  }

  &__switcher-btn {
    svg path {
      transition: all .3s;
    }

    &:hover {
      svg path {
        fill: #064AB1;
      }
    }
  }

}
