.room-booking-calendar {
  overflow-x: auto;
  position: relative;

  &__prompt-btn {
    position: absolute;
    right: 2px;
    top: 23px;
    width: 18px;
    height: 18px;
  }


  .room-date-controller {
    position: relative;
    th {
      border: none;
    }
    th.room-date-controller__calendar {
      background-color: transparent;
    }

    th.room-date-controller__date-preview {
      position: absolute;
      left: 850px;
      top: 50%;
      transform: translateY(-50%);


      @include opensans-bold;
      min-width: 130px;
      height: auto;
      font-size: 15px;
    }


    .date-mask {
      border-radius: 3px;
      border: 1px solid #6DB4F5;
      background: #ffffff;
      max-width: 130px;
      font-size: 15px;
      @include opensans-medium;
    }

    &__calendar {
      display: flex;
      gap: 15px;
      align-items: center;
      height: 66px;
      .icon-input {
        input {
          padding: 0 12px;
          height: 35px;
        }
      }
    }

    &__current-day-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border-radius: 3px;
      border: 1px solid #6DB4F5;
    }

  }


  table {
    border-radius: 3px;
    border: none;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
  }

  th, td {
    color: #000;
    @include opensans-regular;
    font-size: 11px;
    border: 1px solid #E7E9ED;
    height: 50px;
    text-align: center;
    padding: 0 13px;

    &:first-child {
      border-left: none;
      text-align: left;
      font-size: 15px;
      background-color: #fff;
      min-width: 207px;
      border-right: 1px solid #C3D5F5;
    }

    &:last-child {
      border-right: none;
    }

    span {
      display: block;
      line-height: 1.1;
    }

    a {
      color: #000000;
    }

    &:nth-child(7n) {
      background-color: #F1FFF2;
    }

    &:nth-child(7n + 1) {
      background-color: #F1FFF2;
    }
  }

  td:not(:first-child), th:not(:first-child) {
    min-width: 40px;
    width: 40px;
    padding: 0;
  }
  td:first-child {
    font-weight: 500;
    background-color: transparent;
  }

  .day-cell {

    span:first-child {
      font-size: 13px;
      line-height: 1.3;
      @include opensans-semibold;
    }

    &._active-day {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 39px;
        width: 2px;
        height: 10000px;
        background-color: #FF002E;
        opacity: 0.5;
      }

      &::after {
        content: attr(data-pointer);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 39px;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background-color: #FF002E;
        opacity: 0.5;
      }
    }

  }

  &__dates-row {

    th:first-child {
      font-size: 15px;
      background-color: transparent;
      @include opensans-bold;
    }
  }

  .trigger-row {
    td {
      background-color: #F1F7FF;
      color: #064AB1;
      @include opensans-medium;
      &:nth-child(7n) {
        background-color: #F1FFF2;
      }

      &:nth-child(7n + 1) {
        background-color: #F1FFF2;
      }
      &:first-child {
        position: relative;
        padding-right: 30px;
        cursor: pointer;
        background-color: #F1F7FF;
        font-size: 18px;
        color: #064AB1;
        @include opensans-bold;

        svg {
          position: absolute;
          top: 21px;
          right: 12px;

          &._rotate {
            transform: rotate(180deg);
          }
        }
      }

    }
  }

  .child-row {
    display: none;

    td {
      transition: background-color .3s;
    }
    td:first-child {
      padding-left: 35px;
      color: #A5AFBB;
      font-size: 15px;
      @include opensans-medium;
      line-height: 1.1;
      p {
        color: #000000;
      }
    }

    &._visible {
      display: table-row;
    }

    svg {
      display: none;
    }
  }

}
