.room-fund-menu {
  margin-bottom: 30px;
  ul {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    li {
      border-right: 1px solid #D0D5DF;
      border-top: 1px solid #D0D5DF;
      border-bottom: 1px solid #D0D5DF;
      background-color: #F6F6F6;
      @media (max-width: 768px) {
        border-left: 1px solid #D0D5DF;
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &:first-child {
        border-left: 1px solid #D0D5DF;
        border-radius: 3px 0 0 3px;
      }

      &:last-child {
        border-radius: 0 3px 3px 0;
      }

      &._active {
        border-left: 1px solid #D0D5DF;
        background-color: $white;
        border-color: $black;
        border-radius: 3px;
      }

      a {
        padding: 7px 15px;
        display: block;
        color: $black;
      }
    }
  }
}
