#sign-in-modal {
  padding: 20px 22px 30px;
  width: 470px;
  @media (max-width: 768px) {
    width: 80%;
  }

  .modal-close-btn {
    right: 20px;
    top: 20px;
  }

  h4 {
    color: #000;
    font-size: 31px;
    @include opensans-semibold;
    margin-bottom: 18px;
  }

  .input-column-wrapper {
    margin-bottom: 15px;
    position: relative;
  }

  .sign-in-modal__desc {
    color: #2D3231;
    @include opensans-light;
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 1.4;
  }

}

