.table-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 20px;
  }
  .table-navigation {
    border-radius: 3px;
    display: flex;
    width: max-content;

    button {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 0 15px;
      height: 35px;
      width: 100px;
      @include opensans-medium;
      font-size: 15px;
      color: #064AB1;
      border: 1px solid #6DB4F5;

      &._blocked {
        color: #91969A;
        background: #F4F8FC;
        border: 1px solid #D0D5DF;
      }
    }

    &__prev {
      border-radius: 3px 0px 0px 3px;
    }

    &__next {
      border-radius: 0px 3px 3px 0px;
    }
  }


  .content-count {
    display: flex;
    align-items: center;
    gap: 10px;

    select {
      min-width: 70px;
      height: 35px;
      padding: 0 25px 0 10px;
      background-position: right 13px top 13px, 0 0;
    }
  }
}

