.total-cost {
  margin-left: auto;

  h4 {
    @include opensans-semibold;
    font-size: 15px;
    margin-bottom: 5px;
  }

  h3 {
    @include opensans-regular;
    font-size: 23px;
    margin-bottom: 7px;
  }

  p {
    font-weight: 300;

    span {
      font-weight: 400;
    }
  }
}
