.track-info-modal {
  border-radius: 10px;
  width: 496px;
  box-shadow: 0 4px 25px 0 rgb(6 74 177 / 15%);
  background: #fff;

  @media (max-width: 768px) {
    min-width: auto;
  }

  &__header {
    padding: 24px 25px 19px;
  }

  &__title {
    @include opensans-bold;

    margin-bottom: 0;
    font-weight: 700;
    font-size: 22px;
  }

  &__wrapper {
    border-block: 1px solid #c3d5f5;
  }

  &__footer {
    padding: 30px 25px;
  }

  .fix-row {
    align-items: center;

    &__wrapper {
      padding: 20px 25px 30px;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    @media (max-width: 768px) {
      align-items: flex-start;
    }

    &__title {
      @include opensans-light;
      min-width: 137px;
    }

    &__desc {
      font-weight: 400;
      line-height: 1.2;
    }

    &.source-row {
      margin-bottom: 18px;
    }

    &.room-row {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #e7e9ed;
    }

    &.paid-row {
      margin-bottom: 0;

      .fix-row__title,
      .fix-row__desc {
        font-weight: 700;
      }
    }
  }

  .modal-close-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    right: -60px;
    background:
      url("../img/close.svg") 50% / 20px 20px no-repeat,
      #ff6716;
  }

  &__open-booking {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 222px;
    padding: 11px 10px;
  }

  // стили для варианта "новое бронирование"

  .track-info-modal__new-prompt {
    display: none;
    gap: 10px;
    align-items: flex-start;
    background: rgba(#9aff8a, 0.3);
    border-radius: 10px;
    padding: 13px;
    font-size: 13px;
    color: #0e8128;
    line-height: 1.3;
    margin-bottom: 25px;

    svg {
      min-width: 18px;
      width: 18px;
    }
  }

  &._new {
    .track-info-modal__new-prompt {
      display: flex;
    }

    h4 {
      span {
        position: relative;

        &::after {
          content: "Новое";
          position: absolute;
          right: calc(-100% + 3px);
          line-height: 1;
          top: 0;
          font-size: 11px;
          color: #ffffff;
          padding: 3px 3px 4px 3px;
          background: #0e8128;
          border-radius: 3px;
        }
      }
    }
  }
}
