.booking-list-page {
  .input-column-wrapper {
    margin: 0;
  }

  .container {
    max-width: 1920px;
  }
  &__table-container {
    background-color: #ffffff;
    padding-bottom: 300px;
  }

  .main {

    .filter-wrapper {
      padding: 0 30px;
    }
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 20px 0 5px 0;
    h1 {
      padding: 0;
    }
  }

  .filter-panel {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;

    .calendar-block {
      display: flex;
      align-items: flex-end;

      @media (max-width: 380px) {
        flex-direction: column;

        .dash {
          display: none;
        }
      }
    }

    .date {
      width: 133px;
    }

    .dash {
      height: 40px;
      padding: 8px 10px;
    }

    .room-type {
      width: 275px;
    }

    .booking-source {
      width: 243px;
    }

    .paid {
      width: 173px;
    }

    .search {
      width: 360px;
    }
  }

  .control-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 23px;

    a {
      display: inline-block;
      border: 1px solid #6DB4F5;
      border-radius: 3px;
      padding: 2px 6px 2px 8px;
      background-color: #fff;

      color: #000;

      &._blue {
        color: #064AB1;
      }

      &._disabled {
        opacity: 0.5;
      }
    }
  }

  .section-block {
    padding: 0;
    border: none;
    border-top: 1px solid #6DB4F5;
    border-radius: 0;
    margin-bottom: 0;

    .filter-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      li {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        padding: 7px 16px;
        border-radius: 50px;
        background-color: #064AB1;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.1;
        color: #FFFFFF;
      }
    }
  }

  .booking-list-header {
    padding: 22px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: 550px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    .content-count {
      display: flex;
      align-items: center;
      gap: 10px;

      select {
        min-width: 70px;
      }
    }
  }

  .main-btn {
    padding: 0 18px 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .tariff-list-table {
    margin-bottom: 20px;

    .main-table__title-row {
      height: 45px;
      .main-table__cell {
        a {
          font-weight: 700;
          font-size: 15px;
          display: flex;
          align-items: center;
          color: #000000;
          gap: 4px;
        }
        &:nth-child(7) {
          a {
            max-width: 110px;
            text-align: right;
          }

        }
      }
    }

    .main-table__row {
      padding: 8px 15px 7px 0;
    }

    ._gray {
      font-weight: 400;
      font-size: 13px;

      color: #91969A;
    }

    ._green {
      color: #0D9B68;
    }

    ._yellow {
      color: #FFA031;
    }

    ._red {
      color: #D61A00;
    }

    ._right {
      text-align: right;
    }

    .main-table__cell {
      .status {
        width: 158px;
        padding: 9px 0;
        font-size: 15px;
        font-weight: 500;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 5px;
      }
      ._green-block {
        color: #006717;
        .vector {
          width: 16px;
          height: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4135 6.53032H12.125C12.3563 6.53288 12.5774 6.62824 12.741 6.79595C12.9045 6.96367 12.9975 7.1904 13 7.42757V14.1027C12.9975 14.3399 12.9045 14.5667 12.741 14.7344C12.5774 14.9021 12.3563 14.9974 12.125 15H3.84615C3.61913 14.9923 3.40391 14.8944 3.246 14.727C3.08809 14.5595 2.99988 14.3357 3 14.1027V7.39799C3.01158 7.17172 3.10444 6.95785 3.26069 6.79763C3.41693 6.63741 3.62549 6.54219 3.84615 6.53032H4.55769V4.70623C4.53303 4.22896 4.60341 3.75155 4.76455 3.30308C4.92568 2.85462 5.17418 2.4445 5.49491 2.09772C5.81565 1.75095 6.20189 1.47478 6.63009 1.28605C7.0583 1.09733 7.5195 1 7.98558 1C8.45166 1 8.91286 1.09733 9.34106 1.28605C9.76927 1.47478 10.1555 1.75095 10.4762 2.09772C10.797 2.4445 11.0455 2.85462 11.2066 3.30308C11.3677 3.75155 11.4381 4.22896 11.4135 4.70623V6.53032ZM6.00962 2.68494C5.48838 3.22215 5.19471 3.94843 5.19231 4.70623V6.53032H10.7788V4.70623C10.7789 3.94958 10.4864 3.22377 9.96553 2.68782C9.44467 2.15186 8.73788 1.84946 8 1.84685C7.25596 1.85253 6.54284 2.1528 6.00962 2.68494ZM12.2981 14.2802C12.3207 14.257 12.3383 14.2293 12.3499 14.1987C12.3615 14.1682 12.3668 14.1355 12.3654 14.1027V7.42757C12.3668 7.39482 12.3615 7.36213 12.3499 7.33158C12.3383 7.30103 12.3207 7.27328 12.2981 7.25009C12.2527 7.20888 12.1951 7.18456 12.1346 7.18107H3.85577C3.82464 7.18105 3.79382 7.18748 3.76518 7.19998C3.73654 7.21248 3.71065 7.2308 3.68909 7.25383C3.66754 7.27686 3.65074 7.30412 3.63973 7.33398C3.62871 7.36384 3.6237 7.39568 3.625 7.42757V14.1027C3.6237 14.1346 3.62871 14.1665 3.63973 14.1963C3.65074 14.2262 3.66754 14.2535 3.68909 14.2765C3.71065 14.2995 3.73654 14.3178 3.76518 14.3303C3.79382 14.3428 3.82464 14.3493 3.85577 14.3492H12.1346C12.1951 14.3458 12.2527 14.3214 12.2981 14.2802ZM7.40385 9.08404C7.56563 8.9371 7.77427 8.85597 7.99039 8.85597C8.2065 8.85597 8.41514 8.9371 8.57692 9.08404C8.73978 9.22512 8.84877 9.42069 8.88462 9.6362C8.91411 9.85124 8.87356 10.0703 8.76924 10.2592C8.66492 10.4482 8.50267 10.5966 8.30769 10.6813V12.328H7.67308V10.7208C7.4781 10.636 7.31585 10.4877 7.21153 10.2987C7.10721 10.1097 7.06666 9.89068 7.09615 9.67564C7.12313 9.44597 7.23288 9.23495 7.40385 9.08404ZM8.19231 9.59676C8.16626 9.56872 8.13494 9.54639 8.10023 9.53114C8.06552 9.51588 8.02815 9.50802 7.99039 9.50802C7.95262 9.50802 7.91525 9.51588 7.88054 9.53114C7.84583 9.54639 7.81451 9.56872 7.78846 9.59676C7.76015 9.62268 7.73773 9.65466 7.72278 9.69044C7.70783 9.72621 7.70071 9.76491 7.70192 9.80381C7.70192 9.84254 7.70959 9.88086 7.72447 9.91645C7.73935 9.95204 7.76112 9.98417 7.78846 10.0109C7.82745 10.0529 7.87799 10.0818 7.93338 10.0937C7.98876 10.1056 8.04636 10.1 8.09854 10.0775C8.15071 10.055 8.19498 10.0168 8.22547 9.96792C8.25596 9.91904 8.27122 9.8618 8.26923 9.80381C8.26175 9.74094 8.23479 9.68218 8.19231 9.6362V9.59676Z' fill='%230D9B68' stroke='%230D9B68' stroke-width='0.5' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
      }
      ._purple-block {
        color: #7200A3;
        .vector {
          width: 16px;
          height: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 13.3996C5.38274 13.3996 3.2 11.2169 3.2 8.59961C3.2 5.98235 5.38274 3.79961 8 3.79961C10.6173 3.79961 12.8 5.98235 12.8 8.59961C12.8 11.2273 10.6869 13.3996 8 13.3996ZM2 8.59961C2 11.8796 4.72 14.5996 8 14.5996C11.36 14.5996 14 11.8796 14 8.59961C14 5.31961 11.28 2.59961 8 2.59961C4.72 2.59961 2 5.31961 2 8.59961ZM11.3254 6.97924C11.5351 6.79953 11.5593 6.48388 11.3796 6.27421C11.1999 6.06455 10.8843 6.04027 10.6746 6.21998L7.4731 8.96413L5.29215 7.39384C5.06805 7.23249 4.75558 7.28336 4.59423 7.50746C4.43288 7.73156 4.48375 8.04403 4.70785 8.20538L7.20785 10.0054C7.39507 10.1402 7.65023 10.1294 7.8254 9.97924L11.3254 6.97924Z' fill='%237200A3'/%3E%3C/svg%3E%0A");
        }
      }
      ._orange-block {
        color: #D53E07;
        .vector {
          width: 16px;
          height: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1148 3.91349C14.4389 4.25306 14.4264 4.79111 14.0868 5.11524L6.75347 12.1152C6.42501 12.4288 5.90813 12.4288 5.57967 12.1152L1.913 8.61524C1.57343 8.29111 1.56091 7.75306 1.88505 7.41349C2.20919 7.07391 2.74723 7.0614 3.08681 7.38554L6.16657 10.3253L12.913 3.88554C13.2526 3.5614 13.7906 3.57391 14.1148 3.91349Z' fill='%23FF6716'/%3E%3C/svg%3E%0A");
        }
      }
      ._red-block {
        color: #C10000;
        .vector {
          width: 16px;
          height: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.20204 8.39998L12.6011 5.00084C12.933 4.66889 12.933 4.1307 12.6011 3.79875C12.2691 3.46681 11.7309 3.46682 11.399 3.79877L7.99995 7.1979L4.60094 3.79889C4.269 3.46694 3.73081 3.46694 3.39886 3.79889C3.06692 4.13083 3.06692 4.66902 3.39886 5.00097L6.79789 8.4L3.39897 11.799C3.06703 12.131 3.06704 12.6692 3.39899 13.0011C3.73094 13.333 4.26913 13.333 4.60107 13.0011L7.99997 9.60208L11.3989 13.001C11.7308 13.3329 12.269 13.3329 12.6009 13.001C12.9329 12.669 12.9329 12.1308 12.6009 11.7989L9.20204 8.39998Z' fill='%23D61A00'/%3E%3C/svg%3E%0A");
        }
      }
      ._blue-block {
        color: #064AB1;
        .vector {
          width: 16px;
          height: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.2256 11.6335C10.2985 11.5605 10.3975 11.5196 10.5006 11.5196C10.5998 11.5246 10.6931 11.568 10.7609 11.6406C10.8286 11.7131 10.8655 11.8092 10.8637 11.9085V11.9279V12.7966C10.8483 13.0213 10.7912 13.2411 10.6951 13.4448C10.5326 13.7627 10.274 14.0213 9.95607 14.1838C9.75235 14.2799 9.53249 14.337 9.30778 14.3524H8.43909H5.42458H4.55588C4.33117 14.337 4.11131 14.2799 3.90759 14.1838C3.64536 14.0541 3.42279 13.8563 3.26314 13.6111C3.10349 13.3659 3.01261 13.0824 3 12.7901V11.9215V5.66597V4.79733C3.01393 4.57242 3.07116 4.35231 3.16855 4.1491C3.30028 3.88895 3.49873 3.66845 3.74362 3.51013C3.98851 3.35182 4.27105 3.26137 4.56236 3.24805H5.43106H8.46502H9.33372C9.55891 3.26029 9.77936 3.31761 9.982 3.41659C10.2982 3.57849 10.5563 3.8344 10.721 4.1491C10.8157 4.3533 10.8728 4.57288 10.8896 4.79733V5.66597V5.71135C10.8905 5.76267 10.881 5.81364 10.8618 5.86122C10.8425 5.90881 10.8139 5.95203 10.7776 5.98833C10.7413 6.02462 10.6981 6.05324 10.6505 6.07247C10.6029 6.09171 10.5519 6.10117 10.5006 6.10029C10.3975 6.10029 10.2985 6.05931 10.2256 5.98637C10.1526 5.91343 10.1117 5.8145 10.1117 5.71135V4.89457C10.1077 4.76711 10.0791 4.64163 10.0274 4.52507C9.94121 4.3544 9.80262 4.21581 9.63193 4.12965C9.51639 4.07491 9.39026 4.04614 9.2624 4.04538H8.44557H5.45699H4.64015C4.5123 4.04614 4.38617 4.07491 4.27063 4.12965C4.09994 4.21581 3.96135 4.3544 3.87518 4.52507C3.82043 4.64061 3.79167 4.76673 3.7909 4.89457V5.71135V11.915V12.7318C3.79167 12.8596 3.82043 12.9857 3.87518 13.1013C3.96135 13.2719 4.09994 13.4105 4.27063 13.4967C4.38749 13.5475 4.51281 13.5761 4.64015 13.5809H5.45699H8.43909H9.2624C9.38975 13.5761 9.51507 13.5475 9.63193 13.4967C9.80262 13.4105 9.94121 13.2719 10.0274 13.1013C10.0782 12.9844 10.1068 12.8591 10.1117 12.7318V11.9085C10.1117 11.8053 10.1526 11.7064 10.2256 11.6335ZM13.933 6.59272L15.8779 8.53743C15.9175 8.57537 15.9489 8.62115 15.9699 8.67187C15.9909 8.72258 16.0011 8.77711 15.9999 8.83199C15.9987 8.88687 15.9861 8.9409 15.9628 8.99063C15.9396 9.04036 15.9062 9.0847 15.8649 9.12084L13.9201 11.0656C13.847 11.1386 13.7479 11.1797 13.6445 11.1797C13.5412 11.1797 13.4421 11.1386 13.369 11.0656C13.2959 10.9925 13.2549 10.8934 13.2549 10.7901C13.2549 10.6867 13.2959 10.5876 13.369 10.5146L14.6656 9.21808H8.47448C8.42316 9.21896 8.37219 9.20949 8.3246 9.19026C8.27701 9.17102 8.23378 9.14241 8.19749 9.10611C8.16119 9.06982 8.13257 9.02659 8.11334 8.97901C8.0941 8.93142 8.08464 8.88045 8.08551 8.82914C8.08551 8.72598 8.1265 8.62705 8.19944 8.55411C8.27239 8.48117 8.37132 8.44019 8.47448 8.44019H14.6785L13.382 7.14372C13.3458 7.10754 13.3171 7.06459 13.2975 7.01732C13.2779 6.97005 13.2679 6.91938 13.2679 6.86822C13.2679 6.81705 13.2779 6.76639 13.2975 6.71912C13.3171 6.67185 13.3458 6.6289 13.382 6.59272C13.4182 6.55654 13.4611 6.52784 13.5084 6.50826C13.5557 6.48868 13.6063 6.4786 13.6575 6.4786C13.7087 6.4786 13.7593 6.48868 13.8066 6.50826C13.8539 6.52784 13.8968 6.55654 13.933 6.59272Z' fill='%23064AB1'/%3E%3Cpath d='M10.5006 11.5196L10.5082 11.3696H10.5006V11.5196ZM10.7609 11.6406L10.6512 11.7429L10.6512 11.7429L10.7609 11.6406ZM10.8637 11.9085L10.7137 11.9058V11.9085H10.8637ZM10.8637 12.7966L11.0137 12.8068V12.7966H10.8637ZM10.6951 13.4448L10.8287 13.5131L10.8308 13.5088L10.6951 13.4448ZM9.95607 14.1838L10.0201 14.3196L10.0243 14.3174L9.95607 14.1838ZM9.30778 14.3524V14.5027L9.31799 14.502L9.30778 14.3524ZM4.55588 14.3524L4.54564 14.5024H4.55588V14.3524ZM3.90759 14.1838L3.84106 14.3183L3.84362 14.3195L3.90759 14.1838ZM3.26314 13.6111L3.13744 13.693L3.26314 13.6111ZM3 12.7901H2.84986L2.85014 12.7966L3 12.7901ZM3 4.79733L2.85 4.78805V4.79733H3ZM3.16855 4.1491L3.0347 4.08132L3.03329 4.08427L3.16855 4.1491ZM3.74362 3.51013L3.66218 3.38416V3.38416L3.74362 3.51013ZM4.56236 3.24805V3.09789L4.5555 3.0982L4.56236 3.24805ZM9.33372 3.24805L9.34187 3.09805H9.33372V3.24805ZM9.982 3.41659L10.0504 3.28305L10.0478 3.28181L9.982 3.41659ZM10.721 4.1491L10.8573 4.08593L10.8539 4.07954L10.721 4.1491ZM10.8896 4.79733H11.04L11.0392 4.78615L10.8896 4.79733ZM10.8896 5.71135H10.7396L10.7396 5.71391L10.8896 5.71135ZM10.8618 5.86122L11.0008 5.91744V5.91744L10.8618 5.86122ZM10.7776 5.98833L10.8837 6.0944V6.0944L10.7776 5.98833ZM10.6505 6.07247L10.5943 5.9334L10.5943 5.9334L10.6505 6.07247ZM10.5006 6.10029L10.5032 5.95029H10.5006V6.10029ZM10.1117 4.89457H10.2617L10.2616 4.88996L10.1117 4.89457ZM10.0274 4.52507L10.1646 4.46414L10.1613 4.45747L10.0274 4.52507ZM9.63193 4.12965L9.69954 3.9957L9.69615 3.9941L9.63193 4.12965ZM9.2624 4.04538L9.2633 3.89538H9.2624V4.04538ZM4.64015 4.04538V3.89538L4.63926 3.89538L4.64015 4.04538ZM4.27063 4.12965L4.20639 3.99405L4.20304 3.99574L4.27063 4.12965ZM3.87518 4.52507L3.74124 4.45745L3.73963 4.46084L3.87518 4.52507ZM3.7909 4.89457L3.6409 4.89367V4.89457H3.7909ZM3.7909 12.7318H3.6409L3.64091 12.7327L3.7909 12.7318ZM3.87518 13.1013L3.73959 13.1655L3.74128 13.1689L3.87518 13.1013ZM4.27063 13.4967L4.20293 13.6308L4.2108 13.6342L4.27063 13.4967ZM4.64015 13.5809L4.63443 13.7309H4.64015V13.5809ZM9.2624 13.5809V13.7311L9.26813 13.7308L9.2624 13.5809ZM9.63193 13.4967L9.69185 13.6345L9.69952 13.6306L9.63193 13.4967ZM10.0274 13.1013L10.1615 13.169L10.1649 13.1611L10.0274 13.1013ZM10.1117 12.7318L10.2617 12.7375V12.7318H10.1117ZM15.8779 8.53743L15.7718 8.64353L15.7742 8.64584L15.8779 8.53743ZM13.933 6.59272L14.0391 6.48665V6.48665L13.933 6.59272ZM15.9699 8.67187L15.8313 8.72928V8.72928L15.9699 8.67187ZM15.9999 8.83199L16.1499 8.83533V8.83532L15.9999 8.83199ZM15.8649 9.12084L15.7659 9.00768L15.7588 9.01477L15.8649 9.12084ZM13.9201 11.0656L14.0261 11.1716V11.1716L13.9201 11.0656ZM13.369 11.0656L13.263 11.1716L13.263 11.1716L13.369 11.0656ZM13.369 10.5146L13.263 10.4085H13.263L13.369 10.5146ZM14.6656 9.21808L14.7716 9.32415L15.0277 9.06808H14.6656V9.21808ZM8.47448 9.21808V9.06806L8.47192 9.0681L8.47448 9.21808ZM8.3246 9.19026L8.26839 9.32933L8.26839 9.32933L8.3246 9.19026ZM8.19749 9.10611L8.30355 9.00004L8.30355 9.00004L8.19749 9.10611ZM8.11334 8.97901L8.2524 8.92279L8.2524 8.92279L8.11334 8.97901ZM8.08551 8.82914L8.23551 8.8317V8.82914H8.08551ZM14.6785 8.44019V8.59019H15.0407L14.7846 8.33412L14.6785 8.44019ZM13.382 7.14372L13.488 7.03765V7.03765L13.382 7.14372ZM13.2975 7.01732L13.1589 7.07472L13.1589 7.07473L13.2975 7.01732ZM13.2975 6.71912L13.1589 6.66171L13.1589 6.66171L13.2975 6.71912ZM13.382 6.59272L13.488 6.69879L13.488 6.69879L13.382 6.59272ZM10.5006 11.3696C10.3577 11.3696 10.2206 11.4263 10.1195 11.5274L10.3316 11.7395C10.3765 11.6947 10.4372 11.6696 10.5006 11.6696V11.3696ZM10.8705 11.5382C10.7762 11.4372 10.6463 11.3768 10.5082 11.3697L10.493 11.6694C10.5533 11.6724 10.61 11.6988 10.6512 11.7429L10.8705 11.5382ZM11.0136 11.9112C11.0162 11.773 10.9648 11.6393 10.8705 11.5382L10.6512 11.7429C10.6924 11.787 10.7148 11.8454 10.7137 11.9058L11.0136 11.9112ZM11.0137 11.9279V11.9085H10.7137V11.9279H11.0137ZM11.0137 12.7966V11.9279H10.7137V12.7966H11.0137ZM10.8308 13.5088C10.9348 13.2882 10.9967 13.0501 11.0133 12.8068L10.714 12.7864C10.7 12.9924 10.6475 13.194 10.5594 13.3808L10.8308 13.5088ZM10.0243 14.3174C10.3703 14.1405 10.6518 13.8591 10.8287 13.5131L10.5616 13.3765C10.4134 13.6663 10.1776 13.9021 9.88778 14.0503L10.0243 14.3174ZM9.31799 14.502C9.56133 14.4854 9.79943 14.4235 10.02 14.3195L9.8921 14.0481C9.70527 14.1362 9.50364 14.1886 9.29757 14.2027L9.31799 14.502ZM8.43909 14.5024H9.30778V14.2024H8.43909V14.5024ZM5.42458 14.5024H8.43909V14.2024H5.42458V14.5024ZM4.55588 14.5024H5.42458V14.2024H4.55588V14.5024ZM3.84362 14.3195C4.06423 14.4235 4.30233 14.4854 4.54567 14.502L4.56609 14.2027C4.36002 14.1886 4.15839 14.1362 3.97157 14.0481L3.84362 14.3195ZM3.13744 13.693C3.31176 13.9606 3.55476 14.1766 3.84107 14.3183L3.97412 14.0494C3.73596 13.9315 3.53383 13.7519 3.38884 13.5292L3.13744 13.693ZM2.85014 12.7966C2.86391 13.1157 2.96313 13.4253 3.13744 13.693L3.38884 13.5292C3.24384 13.3066 3.16131 13.0491 3.14986 12.7836L2.85014 12.7966ZM2.85 11.9215V12.7901H3.15V11.9215H2.85ZM2.85 5.66597V11.9215H3.15V5.66597H2.85ZM2.85 4.79733V5.66597H3.15V4.79733H2.85ZM3.03329 4.08427C2.92754 4.3049 2.86541 4.54387 2.85029 4.78806L3.14971 4.8066C3.16245 4.60097 3.21477 4.39972 3.30382 4.21393L3.03329 4.08427ZM3.66218 3.38416C3.39499 3.5569 3.17845 3.79749 3.03473 4.08134L3.30238 4.21686C3.4221 3.98041 3.60247 3.77999 3.82506 3.6361L3.66218 3.38416ZM4.5555 3.0982C4.23766 3.11275 3.92938 3.21143 3.66218 3.38416L3.82506 3.6361C4.04764 3.49221 4.30444 3.41 4.56922 3.39789L4.5555 3.0982ZM5.43106 3.09805H4.56236V3.39805H5.43106V3.09805ZM8.46502 3.09805H5.43106V3.39805H8.46502V3.09805ZM9.33372 3.09805H8.46502V3.39805H9.33372V3.09805ZM10.0478 3.28181C9.82716 3.17402 9.58709 3.11161 9.34186 3.09827L9.32557 3.39783C9.53073 3.40898 9.73155 3.4612 9.91616 3.55137L10.0478 3.28181ZM10.8539 4.07954C10.6749 3.73737 10.3941 3.45911 10.0504 3.28308L9.91363 3.5501C10.2022 3.69787 10.4378 3.93143 10.5881 4.21865L10.8539 4.07954ZM11.0392 4.78615C11.021 4.54373 10.9594 4.30655 10.8571 4.086L10.585 4.21219C10.672 4.40004 10.7246 4.60204 10.74 4.80852L11.0392 4.78615ZM11.0396 5.66597V4.79733H10.7396V5.66597H11.0396ZM11.0396 5.71135V5.66597H10.7396V5.71135H11.0396ZM11.0008 5.91744C11.0276 5.85119 11.0408 5.78023 11.0396 5.70878L10.7396 5.71391C10.7401 5.7451 10.7344 5.77608 10.7227 5.805L11.0008 5.91744ZM10.8837 6.0944C10.9342 6.04387 10.9741 5.98369 11.0008 5.91744L10.7227 5.805C10.711 5.83393 10.6936 5.8602 10.6716 5.88226L10.8837 6.0944ZM10.7067 6.21154C10.773 6.18476 10.8332 6.14492 10.8837 6.0944L10.6716 5.88226C10.6495 5.90432 10.6232 5.92171 10.5943 5.9334L10.7067 6.21154ZM10.4981 6.25027C10.5695 6.25149 10.6405 6.23832 10.7067 6.21154L10.5943 5.9334C10.5654 5.9451 10.5344 5.95085 10.5032 5.95031L10.4981 6.25027ZM10.1195 6.09244C10.2206 6.19351 10.3577 6.25029 10.5006 6.25029V5.95029C10.4372 5.95029 10.3765 5.92512 10.3316 5.8803L10.1195 6.09244ZM9.96165 5.71135C9.96165 5.85429 10.0184 5.99137 10.1195 6.09244L10.3316 5.8803C10.2868 5.83549 10.2617 5.77472 10.2617 5.71135H9.96165ZM9.96165 4.89457V5.71135H10.2617V4.89457H9.96165ZM9.89028 4.58593C9.93414 4.68474 9.95841 4.79112 9.96173 4.89918L10.2616 4.88996C10.2571 4.7431 10.2241 4.59851 10.1645 4.46421L9.89028 4.58593ZM9.56433 4.26356C9.7064 4.33527 9.82175 4.45062 9.89348 4.59268L10.1613 4.45747C10.0607 4.25817 9.89883 4.09636 9.69952 3.99574L9.56433 4.26356ZM9.26151 4.19538C9.36745 4.19601 9.47196 4.21984 9.5677 4.2652L9.69615 3.9941C9.56081 3.92997 9.41306 3.89628 9.2633 3.89538L9.26151 4.19538ZM8.44557 4.19538H9.2624V3.89538H8.44557V4.19538ZM5.45699 4.19538H8.44557V3.89538H5.45699V4.19538ZM4.64015 4.19538H5.45699V3.89538H4.64015V4.19538ZM4.33486 4.2652C4.4306 4.21984 4.53511 4.19601 4.64105 4.19538L4.63926 3.89538C4.48949 3.89628 4.34175 3.92997 4.20641 3.9941L4.33486 4.2652ZM4.00908 4.59268C4.0808 4.45062 4.19616 4.33527 4.33823 4.26356L4.20304 3.99574C4.00373 4.09636 3.8419 4.25817 3.74128 4.45747L4.00908 4.59268ZM3.9409 4.89547C3.94153 4.78954 3.96537 4.68503 4.01073 4.58931L3.73963 4.46084C3.6755 4.59618 3.6418 4.74392 3.64091 4.89367L3.9409 4.89547ZM3.9409 5.71135V4.89457H3.6409V5.71135H3.9409ZM3.9409 11.915V5.71135H3.6409V11.915H3.9409ZM3.9409 12.7318V11.915H3.6409V12.7318H3.9409ZM4.01073 13.037C3.96537 12.9413 3.94153 12.8368 3.9409 12.7309L3.64091 12.7327C3.6418 12.8824 3.6755 13.0302 3.73963 13.1655L4.01073 13.037ZM4.33823 13.3628C4.19616 13.2911 4.0808 13.1757 4.00908 13.0337L3.74128 13.1689C3.8419 13.3682 4.00373 13.53 4.20304 13.6306L4.33823 13.3628ZM4.64587 13.4311C4.53718 13.4269 4.43021 13.4025 4.33046 13.3591L4.2108 13.6342C4.34477 13.6925 4.48844 13.7253 4.63443 13.7308L4.64587 13.4311ZM5.45699 13.431H4.64015V13.7309H5.45699V13.431ZM8.43909 13.431H5.45699V13.7309H8.43909V13.431ZM9.2624 13.431H8.43909V13.7309H9.2624V13.431ZM9.57209 13.3591C9.47235 13.4025 9.36538 13.4269 9.25668 13.4311L9.26813 13.7308C9.41411 13.7253 9.55778 13.6925 9.69176 13.6342L9.57209 13.3591ZM9.89348 13.0337C9.82175 13.1757 9.7064 13.2911 9.56433 13.3628L9.69952 13.6306C9.89883 13.53 10.0607 13.3682 10.1613 13.1689L9.89348 13.0337ZM9.96176 12.726C9.95762 12.8347 9.93322 12.9417 9.88983 13.0414L10.1649 13.1611C10.2232 13.0271 10.256 12.8835 10.2615 12.7375L9.96176 12.726ZM9.96165 11.9085V12.7318H10.2617V11.9085H9.96165ZM10.1195 11.5274C10.0184 11.6285 9.96165 11.7656 9.96165 11.9085H10.2617C10.2617 11.8451 10.2868 11.7844 10.3316 11.7395L10.1195 11.5274ZM15.9839 8.43136L14.0391 6.48665L13.827 6.69879L15.7718 8.6435L15.9839 8.43136ZM16.1085 8.61445C16.0795 8.5445 16.0363 8.48135 15.9815 8.42902L15.7742 8.64584C15.7988 8.66939 15.8183 8.6978 15.8313 8.72928L16.1085 8.61445ZM16.1499 8.83532C16.1515 8.75963 16.1374 8.68441 16.1085 8.61445L15.8313 8.72928C15.8444 8.76075 15.8507 8.7946 15.8499 8.82866L16.1499 8.83532ZM16.0987 9.05414C16.1308 8.98554 16.1482 8.91102 16.1499 8.83533L15.8499 8.82866C15.8492 8.86272 15.8413 8.89625 15.8269 8.92711L16.0987 9.05414ZM15.9636 9.23375C16.0206 9.1839 16.0666 9.12274 16.0987 9.05414L15.8269 8.92711C15.8125 8.95798 15.7918 8.9855 15.7661 9.00794L15.9636 9.23375ZM14.0261 11.1716L15.971 9.22691L15.7588 9.01477L13.814 10.9595L14.0261 11.1716ZM13.6445 11.3297C13.7877 11.3297 13.9249 11.2728 14.0261 11.1716L13.814 10.9595C13.769 11.0044 13.7081 11.0297 13.6445 11.0297V11.3297ZM13.263 11.1716C13.3642 11.2728 13.5014 11.3297 13.6445 11.3297V11.0297C13.581 11.0297 13.52 11.0044 13.4751 10.9595L13.263 11.1716ZM13.1049 10.7901C13.1049 10.9332 13.1617 11.0704 13.263 11.1716L13.4751 10.9595C13.4301 10.9145 13.4049 10.8536 13.4049 10.7901H13.1049ZM13.263 10.4085C13.1617 10.5097 13.1049 10.6469 13.1049 10.7901H13.4049C13.4049 10.7265 13.4301 10.6656 13.4751 10.6206L13.263 10.4085ZM14.5595 9.11201L13.263 10.4085L13.4751 10.6206L14.7716 9.32415L14.5595 9.11201ZM8.47448 9.36808H14.6656V9.06808H8.47448V9.36808ZM8.26839 9.32933C8.33464 9.35611 8.4056 9.36928 8.47705 9.36806L8.47192 9.0681C8.44072 9.06863 8.40974 9.06288 8.38081 9.05119L8.26839 9.32933ZM8.09142 9.21218C8.14195 9.26271 8.20214 9.30255 8.26839 9.32933L8.38081 9.05119C8.35189 9.0395 8.32561 9.0221 8.30355 9.00004L8.09142 9.21218ZM7.97427 9.03523C8.00105 9.10148 8.0409 9.16166 8.09142 9.21218L8.30355 9.00004C8.28149 8.97798 8.26409 8.95171 8.2524 8.92279L7.97427 9.03523ZM7.93554 8.82657C7.93431 8.89802 7.94749 8.96898 7.97427 9.03523L8.2524 8.92279C8.24071 8.89387 8.23496 8.86289 8.23549 8.8317L7.93554 8.82657ZM8.09338 8.44804C7.9923 8.54911 7.93551 8.68619 7.93551 8.82914H8.23551C8.23551 8.76577 8.26069 8.705 8.3055 8.66018L8.09338 8.44804ZM8.47448 8.29019C8.33154 8.29019 8.19446 8.34697 8.09338 8.44804L8.3055 8.66018C8.35032 8.61537 8.41111 8.59019 8.47448 8.59019V8.29019ZM14.6785 8.29019H8.47448V8.59019H14.6785V8.29019ZM13.2759 7.24979L14.5725 8.54626L14.7846 8.33412L13.488 7.03765L13.2759 7.24979ZM13.1589 7.07473C13.1861 7.1402 13.2258 7.19968 13.2759 7.24979L13.488 7.03765C13.4658 7.01539 13.4481 6.98898 13.4361 6.95991L13.1589 7.07473ZM13.1179 6.86822C13.1179 6.93908 13.1318 7.00925 13.1589 7.07472L13.4361 6.95991C13.4241 6.93084 13.4179 6.89968 13.4179 6.86822H13.1179ZM13.1589 6.66171C13.1318 6.72718 13.1179 6.79735 13.1179 6.86822H13.4179C13.4179 6.83675 13.4241 6.80559 13.4361 6.77652L13.1589 6.66171ZM13.2759 6.48665C13.2258 6.53675 13.1861 6.59624 13.1589 6.66171L13.4361 6.77652C13.4481 6.74745 13.4658 6.72104 13.488 6.69879L13.2759 6.48665ZM13.451 6.36967C13.3855 6.39679 13.326 6.43654 13.2759 6.48665L13.488 6.69879C13.5103 6.67653 13.5367 6.65888 13.5658 6.64684L13.451 6.36967ZM13.6575 6.3286C13.5866 6.3286 13.5165 6.34256 13.451 6.36967L13.5658 6.64684C13.5949 6.6348 13.626 6.6286 13.6575 6.6286V6.3286ZM13.864 6.36967C13.7985 6.34256 13.7284 6.3286 13.6575 6.3286V6.6286C13.689 6.6286 13.7201 6.6348 13.7492 6.64684L13.864 6.36967ZM14.0391 6.48665C13.989 6.43654 13.9295 6.39679 13.864 6.36967L13.7492 6.64684C13.7783 6.65888 13.8047 6.67653 13.827 6.69879L14.0391 6.48665Z' fill='%23064AB1'/%3E%3C/svg%3E%0A");
        }
      }
      p {
        line-height: 1.5;
      }

      &:nth-child(1) {
        max-width: 8%;
        padding-left: 16px;
      }

      &:nth-child(2) {
        max-width: 15%;
        @media (max-width: 1280px) {
          max-width: 17%;
        }
      }

      &:nth-child(3) {
        max-width: 12%;
      }

      &:nth-child(4) {
        max-width: 16%;
        @media (max-width: 1280px) {
          max-width: 13%;
        }
      }

      &:nth-child(5) {
        max-width: 18%;
        @media (max-width: 1280px) {
          max-width: 14%;
        }
      }

      &:nth-child(6) {
        max-width: 12%;
      }

      &:nth-child(7) {
        max-width: 10%;
        @media (max-width: 1280px) {
          max-width: 14%;
        }
        .cost-info {
          max-width: 110px;
          text-align: right;
        }
      }

      &:nth-child(8) {
        max-width: 9%;
        @media (max-width: 1280px) {
          max-width: 10%;
        }
        p {
          min-width: 119px;
          width: 119px;
        }
      }
    }
  }

  .table-navigation {
    margin-left: 0;
  }
}