.booking-services-page {

  .section-block {
    padding-top: 30px;
    min-height: 800px;
  }

  h3 {
    color: #000000;
    margin-bottom: 18px;
  }

  .fix-row {
    &__title {
      min-width: 207px;
    }
  }

  .main-section__item {
    padding-top: 26px;
  }


  &__table-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

    h4 {
      margin: 0;
    }

    a {
      padding: 2px 8px;
      border: 1px solid rgba(#064AB1, 0.5);
      border-radius: 3px;
      color: #064AB1;
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
      }
    }
  }

  .services-price-table {
    .main-table__cell {
      &:nth-child(1) {
        min-width: 19%;
      }

      &:nth-child(2) {
        min-width: 30%;
      }

      &:nth-child(3) {
        min-width: 26%;
      }

      &:nth-child(4) {
        min-width: 14%;
      }

      &:nth-child(5) {
        min-width: 11%;
        text-align: right;
      }
    }
  }

}