.booking-list-page {
  .input-column-wrapper {
    margin: 0;
  }

  .container {
    max-width: 1920px;
  }
  &__table-container {
    background-color: #ffffff;
    padding-bottom: 300px;
  }

  .main {

    .filter-wrapper {
      padding: 0 30px;
    }
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 20px 0 5px 0;
    h1 {
      padding: 0;
    }
  }

  .filter-panel {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;

    .calendar-block {
      display: flex;
      align-items: flex-end;

      @media (max-width: 380px) {
        flex-direction: column;

        .dash {
          display: none;
        }
      }
    }

    .date {
      width: 133px;
    }

    .dash {
      height: 40px;
      padding: 8px 10px;
    }

    .room-type {
      width: 275px;
    }

    .booking-source {
      width: 243px;
    }

    .paid {
      width: 173px;
    }

    .search {
      width: 360px;
    }
  }

  .control-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 23px;

    a {
      display: inline-block;
      border: 1px solid #6DB4F5;
      border-radius: 3px;
      padding: 2px 6px 2px 8px;
      background-color: #fff;

      color: #000;

      &._blue {
        color: #064AB1;
      }

      &._disabled {
        opacity: 0.5;
      }
    }
  }

  .section-block {
    padding: 0;
    border: none;
    border-top: 1px solid #6DB4F5;
    border-radius: 0;
    margin-bottom: 0;

    .filter-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      li {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        padding: 7px 16px;
        border-radius: 50px;
        background-color: #064AB1;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.1;
        color: #FFFFFF;
      }
    }
  }

  .booking-list-header {
    padding: 22px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: 550px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    .content-count {
      display: flex;
      align-items: center;
      gap: 10px;

      select {
        min-width: 70px;
      }
    }
  }

  .main-btn {
    padding: 0 18px 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .tariff-list-table {
    margin-bottom: 20px;

    .main-table__title-row {
      height: 45px;
      .main-table__cell {
        a {
          font-weight: 700;
          font-size: 15px;
          display: flex;
          align-items: center;
          color: #000000;
          gap: 4px;
        }
        &:nth-child(5) {
          a {
            max-width: 110px;
            justify-content: flex-end;
            text-align: right;
          }

        }
      }
    }

    .main-table__row {
      padding: 8px 15px 7px 0;
    }

    ._gray {
      font-weight: 400;
      font-size: 13px;

      color: #91969A;
    }

    ._green {
      color: #0D9B68;
    }

    ._yellow {
      color: #FFA031;
    }

    ._red {
      color: #D61A00;
    }

    ._right {
      text-align: right;
    }

    .main-table__cell {
      p {
        line-height: 1.5;
      }

      &:nth-child(1) {
        max-width: 8%;
        padding-left: 16px;
      }

      &:nth-child(2) {
        max-width: 13%;
      }

      &:nth-child(3) {
        max-width: 35%;
        @media (max-width: 1280px) {
          max-width: 30%;
        }
      }

      &:nth-child(4) {
        max-width: 19%;
      }

      &:nth-child(5) {
        max-width: 16%;

        .cost-info {
          max-width: 110px;
          text-align: right;
        }
      }

      &:nth-child(6) {
        max-width: 9%;
        @media (max-width: 1280px) {
          max-width: 14%;
        }
        p {
          min-width: 119px;
          width: 119px;
        }
      }
    }
  }

  .table-navigation {
    margin-left: 0;
  }
}