.booking-notes-page {

  .title-controllers-block {
    &__head {
      display: flex;
      gap: 15px;
      align-items: center;
      .status-order {
        color: #064AB1;
        background: #ffffff;
        border-radius: 50px;
        padding: 3px 12px;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
  
  .section-block {
    padding-top: 35px;
    min-height: 800px;
  }

  h3 {
    margin-bottom: 20px;
  }

  .main-btn {
    padding: 10px 19px;
  }

  .main-textarea {
    height: 210px;
    max-width: 810px;
    display: block;
    margin-bottom: 25px;
  }

}