.category-photos-page {
  .dropzone-previews {
    border: none;
    min-height: 130px;
    padding: 0;
  }

  .dz-default {
    display: none;
  }

  .general-dropzone__add-btn {
    height: 40px;
    width: 180px;
    padding: 0;
    background: #064ab1;
    border: 1px solid #064ab1;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }
}
