.create-service-page {
    padding-bottom: 50px;

    section:has(.main-data-wrapper) {
        padding-bottom: 20px;
    }

    .main-data-wrapper {
        display: flex;
        gap: 50px;

        @media (max-width: 1000px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    .main-data {
        margin-top: 16px;
        width: 810px;
    }

    .checkboxes {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .price {

        .fix-row__title {
            margin-top: 22px;
        }

        input {
            width: 90px;
        }

        .fix-row__desc {
            display: flex;
            align-items: center;
            gap: 16px;

            @media (max-width: 1000px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }


        &__info {
            margin-top: 5px;
            padding: 10px;
            display: flex;
            gap: 10px;
            max-width: 515px;
            background: #E8F1F8;
            opacity: 0.6;
            border-radius: 10px;

            p {
                font-weight: 600;
                font-size: 15px;
                line-height: 1.2;
                color: #A5AFBB;
            }

            svg {
                min-width: 18px;
                min-height: 18px;
            }
        }
    }

    .upload-photos .dz-preview {
        height: 108px;

        .dz-image {
            height: 106px;
        }
    }

    .fix-row {
        margin-bottom: 21px;

        &__title {
            padding-top: 7px;
            min-width: 190px;

            span {
                color: #FF6716;
                font-weight: 500;
            }
        }

        &__desc {
            flex-grow: 1;
        }

        @media (max-width: 900px) {
            flex-direction: column;

            &__desc {
                width: 70vw;
            }
        }
    }

    &__desc {
        @include opensans-light;
        margin-bottom: 35px;

        span {
            color: #FF6716;
            font-weight: 500;
        }
    }

    .image-section {
        .general-dropzone {
            &__previews {
                padding: 0;
                border: none;
                margin-top: 0;
                max-width: 175px;
                flex-grow: 1;
                min-height: 108px;
                height: 108px;
            }
        }

        &__desc {
            font-size: 15px;
            margin-bottom: 20px;

            span {
                color: #FF6716;
                font-weight: 500
            }
        }
    }
}