.create-category-page {
  padding-bottom: 150px;


  .number-mask {
    width: 50px;
  }

  .main-input-wrapper,
  .main-textarea-wrapper {
    &>label {
      font-weight: 300;
      min-width: 207px;
    }

  }

  &__content {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D0D5DF;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__content-left {
    max-width: 670px;
    flex-grow: 1;
    margin-right: 130px;

    @media (max-width: 1024px) {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__footer-section {
    margin-bottom: 20px;
    border-bottom: 1px solid #D0D5DF;
  }

  .checkbox-list-container {
    max-width: 350px;
  }

  &__checkbox-list {
    margin-top: -5px;
    margin-bottom: 40px;
    padding-right: 55px;

    @media (max-width: 1280px) {
      padding-right: 0;
    }

    li {
      margin-bottom: 8px;
    }
  }

  .guests-wrapper {
    margin-bottom: 20px;

    span {
      font-weight: 400;
      margin-right: 10px;
    }

    .main-input {
      margin-right: 40px;
    }

    &__content {
      @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        span {
          width: 100%;
        }

        .main-input {
          width: 100px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .radio-wrapper {
    align-items: flex-start;
  }

}