.create-tariff-option-page {
  .section-block {
    display: flex;
    gap: 145px;
    padding-bottom: 40px;

    @media (max-width: 990px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  .input-column-wrapper {
    margin: 0;
    width: 560px;
    label {
      display: flex;
      flex-direction: row;

      & .label-star {
        color: #ff6716;
      }
    }
    @media (max-width: 680px) {
      width: 100%;
    }
  }

  .tariff-option-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .checkbox-list {
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 17px;
  }
}
