.create-offer-page {
  padding-bottom: 50px;

  .section-block {
    padding: 20px 70px 25px 30px;
  }

  .main-textarea {
    height: 120px;
  }

  .upload-photos .dz-preview {
    height: 150px;
    width: 300px;
    .dz-image {
      width: 300px;
      height: 150px;
    }
  }

  .fix-row {
    &:not(:last-child) {
      margin-bottom: 21px;
    }

    &__title {
      padding-top: 7px;
      min-width: 190px;
      width: 190px;
      span {
        color: #FF6716;
        font-weight: 500;
      }
    }

    &__desc {
      flex-grow: 1;
      ._short {
        max-width: 610px;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    ._high {
      height: 200px;
    }
  }

  &__desc {
    @include opensans-light;
    margin-bottom: 25px;

    span {
      color: #FF6716;
      font-weight: 500;
    }
  }


  .photo-section {
    .general-dropzone {
      align-items: center;
      &__previews {
        padding: 0;
        border: none;
        margin-top: 0;
        max-width: 300px;
        flex-grow: 1;
        min-height: 150px;
        height: 150px;
      }
    }

    &__desc {
      font-size: 15px;
      margin-bottom: 20px;

      span {
        color: #FF6716;
        font-weight: 500
      }
    }
  }
}