.dashboard-page-body {
  .container {
    min-width: 1600px;

    @media (max-width: 1620px) {
      max-width: 100vw;
      min-width: 100%;
    }
  }

  .air-datepicker-cell.-day-.-selected- {
    pointer-events: none;
  }
}

.dashboard-page {
  padding-bottom: 100px;

  .dashboard {
    border-radius: 0;
    border-top: 1px solid #6db4f5;

    @media (max-width: 470px) {
      padding: 0;
    }

    &__title-block {
      display: flex;
      align-items: center;
      gap: 22px;
      margin-bottom: 8px;

      h2 {
        @include opensans-semibold;
        font-size: 21px;
      }

      .icon-input {
        width: 176px;
        margin-top: 10px;

        input {
          border: 1px solid #6db4f5;
        }
      }
    }

    &__columns {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      @media (max-width: 1600px) {
        flex-wrap: wrap;
        gap: 60px 10px;
      }

      ul {
        width: 24.5%;

        @media (max-width: 1510px) {
          min-width: 49%;
        }

        @media (max-width: 850px) {
          width: 100%;
        }

        &:nth-child(3),
        &:nth-child(4) {
          li {
            min-height: auto;
          }
        }
      }

      li {
        border: 1px solid #6db4f5;
        background: #ffffff;
        border-radius: 5px;
        @include opensans-regular;
        font-size: 13px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      .title-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 17px 13px 17px 20px;

        &__info {
          h6 {
            @include opensans-light;
            font-size: 15px;
            margin-bottom: 7px;
          }

          span {
            @include opensans-semibold;
            font-size: 34px;
          }
        }
      }

      .card {
        min-height: 260px;

        .guest-action {
          margin-top: 2px;
          margin-bottom: auto;
          padding: 10px 14px;
          @include opensans-regular;
          font-size: 15px;
          border-radius: 5px;
          color: #064ab1;
          border: 1px solid #064ab1;

          &._success {
            background: #cff4c9;
            border-color: #cff4c9;
            font-weight: 600;
            color: #006b2b;
            position: relative;
            text-align: right;
            justify-content: flex-end;
            display: flex;
            align-items: center;
            padding-left: 28px;

            &::before {
              content: "";
              position: absolute;
              width: 15px;
              height: 12px;
              left: 7px;
              top: 50%;
              z-index: 5;
              transform: translateY(-50%);
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0538 0.563229C15.0132 0.447964 14.942 0.353656 14.8607 0.269826C14.7794 0.185997 14.6778 0.112646 14.5761 0.0707311C14.3627 -0.023577 14.1085 -0.023577 13.8951 0.0707311C13.7833 0.112646 13.6918 0.185997 13.6105 0.269826L5.33644 8.789L1.5247 4.84901C1.18926 4.50321 0.599714 4.50321 0.264281 4.84901C0.0914818 5.02715 0 5.25768 0 5.49869C0 5.7397 0.0914818 5.97023 0.264281 6.14837L4.70623 10.7276C4.78755 10.8114 4.8892 10.8847 5.00101 10.9266C5.11282 10.9686 5.22463 11 5.33644 11C5.44825 11 5.57023 10.979 5.67188 10.9266C5.78369 10.8847 5.87517 10.8114 5.95649 10.7276L14.8607 1.5587C14.942 1.47487 15.0132 1.37009 15.0538 1.2653C15.0945 1.15004 15.125 1.03477 15.125 0.919505C15.125 0.804239 15.1047 0.678495 15.0538 0.573708V0.563229Z' fill='%23006B2B'/%3E%3C/svg%3E%0A");
              background-repeat: no-repeat;
            }
          }
        }

        &__title {
          padding: 11px 14px 7px;
          border-bottom: 1px solid #d0d5df;
          display: flex;
          align-items: center;
          gap: 5px;
          justify-content: space-between;

          p {
            font-size: 15px;
            @include opensans-bold;

            a {
              color: #064ab1;
            }

            span {
              font-weight: 400;
            }
          }
        }

        &__inner {
          padding: 11px 15px 7px;
        }

        &__inner-info {
          display: flex;
          gap: 10px;
          justify-content: space-between;
          align-items: center;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: #000000;

          @media (max-width: 400px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            margin-bottom: 20px;
          }

          p {
            @include montserrat-bold;
            font-size: 15px;

            span {
              font-weight: 400;
              font-size: 15px;
            }
          }

          .guest-container {
            margin-bottom: 12px;
          }

          .guest {
            margin-bottom: 5px;
          }

          .count {
            font-weight: 700;
          }

          .name {
            color: #064ab1;
            font-size: 15px;
            @include opensans-bold;
            line-height: 1.2;
          }
        }

        &__info-row {
          @include opensans-regular;
          font-size: 15px;
          margin-bottom: 2px;

          span {
            font-weight: 700;
          }

          ._red {
            color: #d61a00;
          }
        }

        &__comment {
          margin-top: 15px;
          line-height: 1.3;
        }

        &__sales-channel {
          margin-top: 20px;
          @include opensans-light;
        }
      }
    }
  }
}
