.edit-booking-page {
  padding-bottom: 160px;

  .file-upload__delete-btn {
    top: 12px;
  }

  .file-upload__info a {
    height: 41.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #064ab1;
  }

  .file-upload__name {
    padding-left: 35px;
    position: relative;
  }

  .file-upload__name::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 30px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='30' viewBox='0 0 23 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9969 28C22.9969 29.1046 22.1014 30 20.9969 30H2C0.89543 30 0 29.1046 0 28V2C0 0.89543 0.89543 0 2 0H14.5594L22.9969 8.4375V28Z' fill='%233090F6'/%3E%3Cpath d='M23 8.4375H15.5625C15.0102 8.4375 14.5625 7.98979 14.5625 7.4375V0L23 8.4375Z' fill='%234FB6E9'/%3E%3Cpath d='M14.5625 8.4375H23V16.875L14.5625 8.4375Z' fill='%23064AB1'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }

  .input-column-wrapper {
    label {
      display: flex;
      flex-direction: row;

      & .label-star {
        color: #ff6716;
      }
    }
  }
  &._edit {
    .rooms-cost-section__discount-row {
      ._disabled {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  label:not(.main-checkbox) {
    span {
      color: #ff6716;
    }
  }

  &__inputs-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 22px;
    }

    @media (max-width: 768px) {
      gap: 10px;
    }

    .input-column-wrapper:not(:last-child) {
      width: 24%;

      label {
        height: 25px;
      }

      &.main-checkbox {
        padding-top: 33px;

        @media (max-width: 768px) {
          padding-top: 0;
          margin-left: 0;
        }

        label {
          font-size: 15px;
          display: flex;
          color: #1d1b1b;
          font-weight: 400;
          line-height: 1;
          align-items: center;
        }
      }

      &._sm {
        width: 90px;

        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      &._md {
        width: 180px;

        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      @media (max-width: 1024px) {
        width: 46%;
        margin-bottom: 10px;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .client-section {
    .edit-booking-page__org-row {
      justify-content: space-between;
      .input-column-wrapper {
        flex-grow: 0.37;
        &:nth-child(2) {
          flex-grow: 6;
        }
      }
    }

    &__type-client-select {
      select {
        max-width: 280px;
      }
      padding-bottom: 30px;
      border-bottom: 1px solid #c3d5f5;
      margin-bottom: 20px;
      margin-right: 0;
    }

    &__type-client {
      margin-bottom: 18px;
    }
  }

  .dates-section {
    .edit-booking-page__inputs-row {
      margin: 0;
    }

    &__days-counter {
      @include opensans-bold;
      font-size: 15px;
      margin-bottom: 5px;
    }

    &__inputs {
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
    }

    .main-input {
      caret-color: transparent;
    }

    .main-checkbox {
      min-width: 135px;
      line-height: 1.1;
    }
  }

  .rooms-list-section {
    padding-top: 28px;

    h3 {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      gap: 5px;
      flex-wrap: wrap;
      @media (max-width: 550px) {
        justify-content: center;
      }
      button {
        height: 20px;
        width: 20px;
      }
    }

    .edit-booking-page__inputs-row:not(:last-child) {
      margin-bottom: 18px;
    }

    .rooms-list {
      &__item {
        &:not(:first-child) {
          padding-top: 30px;
        }

        padding-bottom: 30px;
        border-bottom: 1px solid #c3d5f5;
      }
      &__item-controllers {
        display: flex;
        gap: 20px;
        .main-btn {
          padding: 10px 25px;
        }
      }
    }

    .guests-list {
      margin-bottom: 25px;
      li:not(:last-child) {
        padding-bottom: 30px;
        margin-bottom: 28px;
        border-bottom: 1px solid #c3d5f5;
      }

      h5 {
        color: #1d1b1b;
        font-size: 18px;
        @include opensans-bold;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 5px;

        .delete-btn {
          height: 20px;
          width: 20px;
          position: static;
          display: inline-block;
        }
      }
    }

    &__controllers {
      margin-top: 30px;
      button {
        padding: 10px 24px 10px 22px;
      }
    }
  }

  .rooms-search-section {
    padding-top: 35px;
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .main-btn {
      min-width: 280px;
      padding: 10px 0;
    }

    &__prompt {
      svg {
        min-width: 15px;
        height: 15px;
      }

      max-width: 770px;

      line-height: 1.3;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      color: #95a0ac;
      font-size: 13px;
    }
  }

  .rooms-category-section {
    padding-bottom: 25px;
    &__category-comment {
      color: #ff6716;
      font-size: 14px;
    }
    .edit-booking-page__inputs-row {
      margin-bottom: 10px;

      @media (max-width: 1024px) {
        flex-direction: column;
      }
      .input-column-wrapper {
        width: 25%;
        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }
  }

  .rooms-choice-section {
    padding-top: 25px;

    &__save-warning {
      display: none;
      color: #920303;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.2;
      max-width: 350px;
    }

    &__btn {
      padding: 11px 23px;
    }

    &__btn-wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap;

      &._blocked {
        .rooms-choice-section__save-warning {
          display: block;
        }

        .rooms-choice-section__btn {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    &__list {
      margin-bottom: 30px;

      li {
        display: flex;
        @media (max-width: 1024px) {
          align-items: flex-end;
          gap: 10px;
        }
        @media (max-width: 550px) {
          flex-direction: column;
          align-items: flex-start;
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        p {
          color: #95a0ac;
          font-size: 13px;
          padding-top: 39px;
          line-height: 1.2;
          @media (max-width: 1024px) {
            padding-top: 0;
          }
        }

        .input-column-wrapper.floor {
          width: 280px;
          min-width: 280px;
          @media (max-width: 550px) {
            width: 100%;
            min-width: 100%;
          }
        }
      }
    }
  }

  .rooms-cost-section {
    .result-sum {
      width: 180px;

      input {
        border: 1px solid #d3d9e0;
        background: #e8f1f8
          url('data:image/svg+xml,<svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.47009 11.0979C5.47009 11.008 5.4656 10.918 5.47009 10.828C5.47906 10.5806 5.45663 10.3781 5.2593 10.1667C4.89604 9.78432 4.98574 9.1725 5.39385 8.83061C5.79299 8.49321 6.39842 8.54269 6.73926 8.93857C7.08459 9.33446 7.05768 9.93278 6.66751 10.2882C6.5823 10.3691 6.54642 10.4411 6.54642 10.5581C6.55539 10.927 6.5509 11.3004 6.5509 11.6693C6.5509 11.9977 6.32218 12.2406 6.02171 12.2496C5.71675 12.2541 5.47906 12.0067 5.47457 11.6693C5.47009 11.4803 5.47009 11.2869 5.47009 11.0979Z" fill="%23A5AFBB"/><path d="M11.9966 6.92794C11.9966 6.78398 11.9966 6.63552 11.9697 6.49157C11.7948 5.51086 11.0638 4.81807 10.0996 4.6966V4.08028C10.0996 1.83095 8.27432 0 6.03195 0H5.96468C3.72232 0 1.89704 1.83095 1.89704 4.08028V4.6921C1.84771 4.6966 1.80286 4.7056 1.75801 4.7146C0.708586 4.91704 0.00896945 5.78528 0.00448472 6.87845C0 8.77689 0 10.6798 0 12.5783C0 12.7132 0.00448472 12.8482 0.0269083 12.9831C0.224236 14.0673 1.09427 14.7871 2.19751 14.7871C4.71344 14.7871 7.22937 14.7871 9.74979 14.7871C11.0728 14.7871 11.9966 13.8694 11.9966 12.5423C12.0011 10.6708 12.0011 8.79938 11.9966 6.92794ZM3.01822 4.08028C3.01822 2.45177 4.34121 1.12467 5.96468 1.12467H6.03644C7.65991 1.12467 8.9829 2.45177 8.9829 4.08028V4.46267H3.01822V4.08028ZM10.9203 12.5603C10.9203 13.2621 10.4673 13.7074 9.77221 13.7119C8.51201 13.7119 7.24731 13.7119 5.98711 13.7119C4.73587 13.7119 3.48463 13.7119 2.23788 13.7119C1.52032 13.7119 1.07633 13.2665 1.07633 12.5423C1.07633 10.6708 1.07633 8.79488 1.07633 6.92344C1.07633 6.20365 1.52481 5.75379 2.24236 5.75379C4.74932 5.75379 7.25628 5.75379 9.75876 5.75379C10.4673 5.75379 10.9203 6.19915 10.9203 6.90544C10.9248 8.79038 10.9248 10.6753 10.9203 12.5603Z" fill="%23A5AFBB"/></svg>')
          no-repeat 95% 50%;
      }
    }

    &__discount-row {
      padding-bottom: 35px;
      border-bottom: 1px solid #c3d5f5;
    }

    &__payment-row {
      gap: 13px;

      .input-column-wrapper {
        margin: 0;
      }

      .main-btn {
        padding: 10px 25px;
      }

      p {
        font-size: 13px;
        color: #95a0ac;
        line-height: 1.25;
        max-width: 430px;
      }
    }

    .total-cost {
      border: 1px solid #c3d5f5;
      border-radius: 10px;
      background: #e8f1f8;
      padding: 6px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 45px;
      width: max-content;
      min-width: 380px;
      margin-bottom: 20px;
      @media (max-width: 550px) {
        flex-direction: column;
        gap: 20px;
        min-width: 100%;
      }

      &__item {
        h4 {
          font-size: 13px;
          color: #a5afbb;
          @include opensans-semibold;
          margin: 0;
        }

        h3 {
          font-size: 18px;
          @include opensans-bold;
          margin: 0;
        }

        &._introduced {
          padding-right: 45px;
          border-right: 1px solid #c3d5f5;
          @media (max-width: 550px) {
            padding-right: 0;
            padding-bottom: 20px;
            border-bottom: 1px solid #c3d5f5;
            border-right: none;
          }

          h3 {
            color: #12a43b;
          }
        }

        &._to-pay {
          h3 {
            color: #ff6716;
          }
        }
      }
    }

    .payments-list {
      max-width: 812px;

      .main-table__row {
        border-bottom: none;
        padding: 6px 10px;

        &:nth-child(even) {
          background-color: #f4f8fc;
        }

        &:nth-child(odd) {
          background-color: transparent;
        }

        &.main-table__title-row {
          border: 1px solid #e7eefa;

          .main-table__cell {
            color: #a5afbb;
            font-size: 13px;
            font-weight: 600;
          }
        }
      }

      .main-table__cell {
        color: #1d1b1b;

        &:nth-child(1) {
          min-width: 3%;
        }

        &:nth-child(2) {
          min-width: 30%;
        }

        &:nth-child(3) {
          min-width: 24%;
        }

        &:nth-child(4) {
          min-width: 26%;
        }

        &:nth-child(5) {
          min-width: 13%;
          font-weight: 600;
          text-align: right;
        }

        &:nth-child(6) {
          min-width: 4%;
          text-align: right;
        }
      }
    }
  }

  .rooms-comment-section {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0;

    .edit-booking-page__inputs-row {
      align-items: flex-start;
      gap: 15px;
    }

    &__textarea-wrapper {
      width: 517px;
      margin: 0;
    }
  }
}
