.edit-category-date-page {
  padding-bottom: 150px;

h1 {
  margin-bottom: 15px;
}

  .number-mask {
    width: 50px;
  }

  &__desc {
    font-weight: 600;

    a {
      color: #064AB1;
    }

    margin-bottom: 19px;
  }

  .main-input-wrapper {
    label {
      font-weight: 300;
      min-width: 205px;
    }

  }

  .icon-input {
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D0D5DF;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__content-left {
    max-width: 490px;
    flex-grow: 1;
    margin-right: 100px;
    @media (max-width: 1024px) {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__checkbox-list {
    margin-top: -5px;
    max-width: 185px;
    @media (max-width: 1280px) {
      padding-right: 0;
    }

    li {
      margin-bottom: 1px;

      &:last-child {
        margin-top: 20px;

        label {
          align-items: flex-start;
          line-height: 1.2;
          &::before {
            margin-top: 3px;
          }
        }
      }
    }
  }

}
