.edit-booking-ban-page {
  padding-bottom: 50px;
  .input-column-wrapper {
    width: 280px;
    margin-bottom: 23px;
    margin-right: 0;
    @media (max-width: 768px) {
      width: 100%;
    }

    &._date {
      display: flex;
      margin-bottom: 10px;
      flex-wrap: wrap;
      @media (max-width: 768px) {
        width: 100%;
      }

      label {
        width: 100%;
      }

      .icon-input {
        width: 176px;
        margin-right: 10px;
        @media (max-width: 768px) {
          width: 60%;
        }
      }

      select {
        width: 94px;
        @media (max-width: 768px) {
          width: 30%;
        }
      }
    }

    &._textarea {
      width: auto;
      max-width: 517px;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  .input-columns-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .input-column-wrapper {
      margin-bottom: 0;
    }
  }


}