.guests-page {
  .section-block {
    padding: 10px 25px 35px;
    min-height: 550px;

    @media (max-width: 1024px) {
      min-height: auto;
    }
  }

  &__search-input {
    position: relative;
    height: 30px;

    input.main-input {
      @include opensans-regular;
      font-size: 15px;
      height: 100%;
    }

    svg {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 12px;
    background: #f4f8fc;
  }

  .main-table {
    max-width: 100%;
    overflow: auto;
    margin-bottom: 20px;
    margin-top: 20px;

    &__row {
      &.main-table__title-row {
        padding: 0 2px;
        height: 45px;
      }

      &:not(.main-table__title-row) {
        padding: 11px 2px;
      }

      @media (max-width: 768px) {
        min-width: 800px;
      }
    }

    &__cell {
      &:nth-child(1) {
        max-width: 3%;
        text-align: center;
      }

      &:nth-child(2) {
        max-width: 40%;
        .main-input {
          max-width: 420px;
          padding-right: 25px;
          background: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.55478 9.49682C5.5546 9.6114 6.56014 9.38443 7.41025 8.85868L9.65104 11.0995C9.65107 11.0995 9.65111 11.0995 9.65114 11.0996C9.84332 11.2918 10.104 11.3999 10.3759 11.4C10.6477 11.4001 10.9085 11.2922 11.1009 11.1C11.2932 10.9078 11.4013 10.6471 11.4014 10.3752C11.4015 10.1033 11.2936 9.84247 11.1014 9.65015L11.1013 9.65005L8.85975 7.40851C9.38532 6.55782 9.6118 5.55173 9.49645 4.5516C9.36759 3.43427 8.8216 2.40679 7.9677 1.67472C7.11381 0.942662 6.01499 0.560006 4.89108 0.603312C3.76718 0.646618 2.70106 1.11269 1.90603 1.90829C1.111 2.70389 0.645692 3.77034 0.60319 4.89428C0.560688 6.01822 0.94413 7.11676 1.6768 7.97013C2.40948 8.8235 3.43735 9.36875 4.55478 9.49682ZM8.10133 5.06176C8.10133 5.4607 8.02276 5.85573 7.87009 6.2243C7.71743 6.59287 7.49366 6.92776 7.21157 7.20985C6.92948 7.49194 6.59459 7.71571 6.22602 7.86837C5.85745 8.02104 5.46242 8.09962 5.06348 8.09962C4.66454 8.09962 4.26951 8.02104 3.90094 7.86837C3.53237 7.71571 3.19748 7.49194 2.91539 7.20985C2.6333 6.92776 2.40954 6.59287 2.25687 6.2243C2.1042 5.85573 2.02563 5.4607 2.02563 5.06176C2.02563 4.25607 2.34568 3.48338 2.91539 2.91367C3.4851 2.34397 4.25779 2.02391 5.06348 2.02391C5.86917 2.02391 6.64186 2.34397 7.21157 2.91367C7.78128 3.48338 8.10133 4.25607 8.10133 5.06176Z" fill="%23A5AFBB" stroke="%23A5AFBB" stroke-width="0.8"/></svg>')
            no-repeat right 10px top 50%;
        }
      }

      &:nth-child(3) {
        max-width: 14%;
        text-align: left;
      }

      &:nth-child(4) {
        max-width: 14%;
      }

      &:nth-child(5) {
        max-width: 14%;
      }

      &:nth-child(6) {
        max-width: 15%;
        .main-input {
          padding: 6px 10px;
          max-width: 160px;
          background: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.55478 9.49682C5.5546 9.6114 6.56014 9.38443 7.41025 8.85868L9.65104 11.0995C9.65107 11.0995 9.65111 11.0995 9.65114 11.0996C9.84332 11.2918 10.104 11.3999 10.3759 11.4C10.6477 11.4001 10.9085 11.2922 11.1009 11.1C11.2932 10.9078 11.4013 10.6471 11.4014 10.3752C11.4015 10.1033 11.2936 9.84247 11.1014 9.65015L11.1013 9.65005L8.85975 7.40851C9.38532 6.55782 9.6118 5.55173 9.49645 4.5516C9.36759 3.43427 8.8216 2.40679 7.9677 1.67472C7.11381 0.942662 6.01499 0.560006 4.89108 0.603312C3.76718 0.646618 2.70106 1.11269 1.90603 1.90829C1.111 2.70389 0.645692 3.77034 0.60319 4.89428C0.560688 6.01822 0.94413 7.11676 1.6768 7.97013C2.40948 8.8235 3.43735 9.36875 4.55478 9.49682ZM8.10133 5.06176C8.10133 5.4607 8.02276 5.85573 7.87009 6.2243C7.71743 6.59287 7.49366 6.92776 7.21157 7.20985C6.92948 7.49194 6.59459 7.71571 6.22602 7.86837C5.85745 8.02104 5.46242 8.09962 5.06348 8.09962C4.66454 8.09962 4.26951 8.02104 3.90094 7.86837C3.53237 7.71571 3.19748 7.49194 2.91539 7.20985C2.6333 6.92776 2.40954 6.59287 2.25687 6.2243C2.1042 5.85573 2.02563 5.4607 2.02563 5.06176C2.02563 4.25607 2.34568 3.48338 2.91539 2.91367C3.4851 2.34397 4.25779 2.02391 5.06348 2.02391C5.86917 2.02391 6.64186 2.34397 7.21157 2.91367C7.78128 3.48338 8.10133 4.25607 8.10133 5.06176Z" fill="%23A5AFBB" stroke="%23A5AFBB" stroke-width="0.8"/></svg>')
            no-repeat right 10px top 50%;
        }
      }
    }
  }
}
