.manage-restaurant-page {
  padding-bottom: 170px;

  .main-btn {
    background-color: transparent;
  }

  .input-column-wrapper {
    margin-right: 0;
  }

  .input-column-wrapper__row {
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;

    .input-column-wrapper {
      margin-bottom: 0;
    }
  }

  h1 {
    font-weight: 600;
    margin-bottom: 22px;
  }

  .main-section {
    padding-top: 20px;
  }

  .main-section__item-banquet {
    margin-top: 30px;
    padding-top: 30px;
  }

  .main-section__item-gallery {
    margin-top: 30px;
    padding-top: 18px;

    h5 {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    color: #000;
    @include opensans-semibold;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__photos-desc {
    margin-bottom: 10px;
    font-weight: 300;
  }

  .input-column-wrapper {
    width: 280px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      width: 100%;
    }


    &._main-textarea {
      width: 700px;
      @media (max-width: 900px) {
        width: 100%;
      }

      textarea {
        height: 170px;
      }
    }

    &._textarea {
      width: 700px;
      @media (max-width: 900px) {
        width: 100%;
      }

      textarea {
        height: 70px;
      }
    }
  }

  .menu-list {
    margin-bottom: 10px;
    margin-top: 5px;

    .main-btn {
      background-color: transparent;
    }

    li {
      position: relative;
      padding: 15px 20px 0;
      border-radius: 5px;
      border: 1px dashed #D0D5DF;

      h6 {
        margin-bottom: 5px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .input-column-wrapper {

      &._download {
        width: auto;
      }
    }
  }

  .org-list {
    li {
      padding: 15px 20px 5px;
      border-radius: 5px;
      border: 1px dashed #D0D5DF;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      h3 {
        color: #000;
        @include opensans-semibold;
        font-size: 18px;
        margin-bottom: 13px;
      }

      .upload-photos {
        margin-bottom: 25px;
      }
    }

  }

  .general-dropzone__previews {
    margin-bottom: 19px;
  }
}