.one-organization-page {
  padding-bottom: 190px;

  h1 {
    @include opensans-semibold;
    font-size: 23px;
    margin-top: 36px;
    margin-bottom: 15px;
  }

  .main-section__item {
    margin-top: 25px;
    padding-top: 25px;

    &:first-child {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
  }

  .fix-row {
    margin-bottom: 6px;
    align-items: flex-start;

    &__desc {
      max-width: 550px;

      span {
        font-weight: 700;
        margin-right: 5px;
      }
    }

    &__title {
      min-width: 176px;
    }
  }

  .upload-photos {
    .dz-message {
      width: 110px;
      height: 110px;
    }

    .dz-preview {
      width: 110px;
      height: 110px;
      .dz-image {
        height: 110px;
        width: 110px;
      }
    }

    .general-dropzone.dz-started .dz-message {
      display: none;
    }
  }

  .top-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 450px) {
      flex-direction: column-reverse;
    }
  }

}