.payment-settings-page {
  .container {
    padding: 0 55px 0 15px;
  }
  .payment-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 23px 50px 35px 30px;
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 20px;
    }
    .payment-block {
      width: 100%;
      max-width: 910px;
    }
    .payment-switcher {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 395px;
      padding-top: 5px;
      .payment-switch-mode {
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        background: #ffffff;
        height: 40px;
        button {
          padding: 15px 17px;
          border: 1px solid #6DB4F5;
          font-size: 15px;
          font-weight: 500;
          display: flex;
          gap: 10px;
          align-items: center;
        }
        button:nth-child(1) {
          border-radius: 3px 0 0 3px;
        }
        button:nth-child(2) {
          border-radius: 0 3px 3px 0;
        }
        ._active {
          color: #ffffff;
          background: #064AB1;
          border: 1px solid #064AB1;
          border-radius: 3px 0 0 3px;
        }
      }
      .payment-desc {
        display: none;
        font-size: 15px;
        span {
          color: #FF6716;
          font-weight: 700;
        }
        .afford {
          color: #0B8417;
        }
      }
      ._active {
        display: block;
      }
    }
  }
  .payment-data {
    display: flex;
    flex-direction: column;
    gap: 18px;
    .payment-settings-input{
      max-width: 910px;
    }
    .payment-settings-textarea {
      max-width: 910px;
      height: 120px;
    }
    .input-column-wrapper:last-child {
      margin-right: 10px;
    }
  }
}