.room-data-page {
  .main {
    padding-bottom: 150px;
  }

  .input-column-wrapper {
    label {
      display: flex;
      flex-direction: row;

      & .label-star {
        color: #ff6716;
      }
    }
  }

  .section-block {
    @media (max-width: 650px) {
      padding: 20px;
    }
  }

  .content-column {
    width: 560px;

    @media (max-width: 650px) {
      width: 100%;
    }
  }

  h4 {
    font-size: 18px;
  }

  input::placeholder {
    color: $black;
  }

  .input-column-wrapper:not(:last-child) {
    margin: 0;
  }

  .room-data-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

    @media (max-width: 1040px) {
      flex-direction: column;
      gap: 30px;
    }

    .room-data {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  &__checkbox-list {
    padding-top: 17px;
    padding-right: 30px;

    @media (max-width: 1280px) {
      padding-right: 0;
    }

    li {
      margin-bottom: 10px;

      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }

  .category-wrapper {
    padding-top: 10px;
  }

  .section-info {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: max-content;

    padding: 15px;
    border-radius: 10px;
    background: #E8F1F8;

    @include opensans-semibold;
    font-size: 15px;
    line-height: 1.2;
    color: #A5AFBB;

    svg {
      min-width: 18px;
    }

    @media (max-width: 800px) {
      font-size: 12px;
      padding: 8px;
    }
  }

  .section-item {
    border-bottom: 1px solid #C3D5F5;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  .room-devices-list {
    display: flex;
    flex-direction: column;
    gap: 17px;

    li {
      display: flex;
      align-items: center;
      gap: 20px;

      @media (max-width: 800px) {
        gap: 10px;
      }
    }

    .content-column {
      display: flex;
      align-items: center;
      gap: 30px;

      @media (max-width: 800px) {
        gap: 15px;
      }

      @media (max-width: 450px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        .input-column-wrapper {
          width: 100%;
        }
      }
    }

    .input-column-wrapper {
      flex: 1;
    }
  }

  .floor-section {
    .content-column {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      @media (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    }

    .input-column-wrapper {
      width: 150px;
    }

    .first-floor-wrapper {
      gap: 70px;
    }

    .second-floor-wrapper {
      gap: 5px;
    }

    .first-floor-wrapper,
    .second-floor-wrapper {
      display: flex;
      align-items: center;

      @media (max-width: 700px) {
        width: 100%;
        justify-content: space-between;

        .input-column-wrapper {
          width: 70%;

          @media (max-width: 470px) {
            width: 60%;
          }
        }
      }
    }

    .main-checkbox {
      max-width: max-content;

      label {
        display: flex;
        align-items: center;
        align-self: stretch;

        @include opensans-regular;
        font-size: 15px;
        line-height: 1.5;
        color: #1D1B1B;
      }
    }
  }

  .square-data-wrapper {
    display: flex;
    align-items: center;

    input {
      margin: 0 10px 0 100px;
      width: 80px;

      @media (max-width: 470px) {
        margin: 0 10px;
      }
    }
  }

  textarea {
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }
}