.room-apartment-page {
  padding-bottom: 95px;

  .section-block {
    border-radius: 5px;
    padding-top: 30px;
  }

  .main-input-wrapper {
    margin-bottom: 21px;

    label {
      min-width: 172px;
      margin: 0;
    }

    .short-input {
      width: 80px;
    }

    .middle-input {
      max-width: 215px;
    }
  }

  .main-btn {
    padding: 10px 20px 12px 22px;
  }

  .apart-list {
    li {
      padding: 25px 190px 10px 24px;
      border-radius: 5px;
      border: 1px dashed #6DB4F5;
      position: relative;
      margin-bottom: 30px;

      @media (max-width: 1024px) {
        padding-right: 20px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      h3 {
        @include opensans-bold;
        margin-bottom: 26px;
        font-size: 20px;
      }
    }

    &__content {
      display: flex;
      gap: 95px;

      @media (max-width: 1160px) {
        flex-direction: column;
        gap: 0px;
      }
    }

    &__left {
      margin-right: 16px;
      min-width: 470px;

      @media (max-width: 768px) {
        min-width: 100%;
      }

      @media (max-width: 1024px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &__right {
      min-width: 406px;

      @media (max-width: 768px) {
        min-width: 100%;
      }

      .main-input-wrapper label {
        min-width: 112px;

        @media (max-width: 1024px) {
          min-width: 170px;
        }
      }
    }

    .main-input-wrapper {
      .main-input {
        &._sm {
          max-width: 80px;
        }

        &._md {
          max-width: 300px;
          min-width: 300px;

          @media (max-width: 460px) {
            min-width: 100%;
          }

        }
      }
    }
  }

  .checkbox-list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    label {
      @include opensans-regular;
      font-size: 15px;
      min-width: auto;
      margin-right: 0;
    }

    li {
      margin-bottom: 0;
      padding: 0;
      border-radius: 0;
      border: none;

      &:not(:last-child) {
        margin-right: 5px;
        margin-bottom: 0;
      }
    }
  }

  // Управление отображением видимости типа комнаты

  .room-state {
    &__content {
      display: none;
    }

    &[data-state="1"],
    &[data-state="2"] {
      .room-state__content[data-content="1"] {
        display: block;
      }
    }

    &[data-state="3"] {
      .room-state__content[data-content="2"] {
        display: block;
      }
    }
  }

}