.rooms-list-page {

  .main-table {
    @media (max-width: 1000px) {
      overflow-x: auto;
      .main-table__row {
        min-width: 1200px;
      }
    }


    &__cell {
      &:nth-child(1) {
        max-width: 3%;
      }

      &:nth-child(2) {
        max-width: 7%;
      }

      &:nth-child(3) {
        max-width: 11%;
      }

      &:nth-child(4) {
        max-width: 21%;
      }

      &:nth-child(5) {
        max-width: 16%;
      }

      &:nth-child(6) {
        max-width: 23%;
      }

      &:nth-child(7) {
        text-align: center;
        max-width: 5%;
      }

      &:nth-child(8) {
        text-align: center;
        max-width: 7%;
      }

      &:nth-child(9) {
        max-width: 7%;

      }
    }
  }

}
