.site-services-page {
    .main-btn {
        display: inline-block;
        margin: 10px 0 30px 0;
        padding: 10px 20px;
    }

    .site-services-table {
        margin-bottom: 20px;

        @media (max-width: 1120px) {
            overflow-x: auto;
        }

        .main-table__row {
            max-height: 42px;

            @media (max-width: 1120px) {
                min-width: 1100px;
            }

            &:first-child {
                max-height: 45px;
            }

            &:hover {
                .main-table__cell {
                    .delete-link {
                        opacity: 1;
                    }
                }
            }
        }


        .main-table__cell {
            .input-column-wrapper {
                display: inline-block;

                input {
                    padding: 8px 10px;
                    height: 30px;

                    &:focus+svg {
                        display: none;
                    }

                    &::placeholder {
                        @include opensans-regular;
                        font-size: 15px;
                        line-height: 1.2;
                        color: #91969A;
                    }
                }
            }

            &:nth-child(1) {
                min-width: 5%;
            }

            &:nth-child(2) {
                min-width: 9%;

                input {
                    width: 70px;
                }
            }

            &:nth-child(3) {
                min-width: 84%;
            }


            &:nth-child(4) {
                display: flex;
                justify-content: center;
                max-width: 2%;

                .delete-link {
                    opacity: 0;
                    transition: all .2s;
                    width: 23px;
                    height: 23px;

                    @media (max-width: 1024px) {
                        opacity: 1;
                    }
                }
            }
        }
    }
}