.view-booking-page {
  padding-bottom: 40px;

  .section-block {
    padding-top: 30px;
  }

  &__source-row {
    align-items: flex-start;
  }

  ._balance-minus {
    @include opensans-bold;
    font-size: 18px;
    color: #FF6716;
  }

  ._balance-plus {
    color: #12A43B;
    @include opensans-bold;
    font-size: 15px;
  }





}
