<div class="auth-panel">
  <div class="container">
    <h3 class="auth-panel__welcome">Добро пожаловать, <span>Иван Сергеевич</span>
    </h3>
    <a class="auth-panel__escape" href="#">
      Выход
      <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <rect x="0.0986328" y="15.3867" width="21.6901" height="0.867605"
              transform="rotate(-45 0.0986328 15.3867)" fill="#920303"/>
        <rect x="15.3369" y="15.9507" width="21.6901" height="0.867605"
              transform="rotate(-135 15.3369 15.9507)" fill="#920303"/>
      </svg>
    </a>
  </div>
</div>
